﻿<widget id="1" name="{{vm.nomeFunc}}" complemento="{{vm.comp}}">

	<form name="clienteForm" role="form">

		<div class="row row-top-pagina">				

			<div class="col-lg-12 col-sm-12 col-xs-12">
				
				<div class="row row-form-titulo">
								
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-user fa-lg"></i>&nbsp;Informações Basicas
						</div>
					</div>	
					
				</div>
				
				<div class="row">		 

					<div class="col-lg-4 col-sm-4 col-xs-6">

						<div class="form-group">
							<label for="nmCli">Nome do Serviço</label>
							<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" pattern="[a-zA-ZáÁéÉêÊíÍóÓôÔãÃ\s]+" ng-minlength="3" ng-maxlength="50" required />
						</div>
						
					</div>

				</div>
				
				<div class="row">
		
					<div class="col-lg-4 col-sm-3 col-xs-8">
					
						<div class="form-group">
							
							<label for="idREU" >Especialidade</label>
					
							<select name="idREU" ng-model="vm.cliente.idREU" class="form-control">
							  <option value="0">Não Informado</option>
							  <option ng-repeat="item in vm.listaUF" value="{{item.id}}">{{item.ds}}</option>
							</select>

						</div>
						
					</div>

				</div>

				<div class="row" style="margin-bottom:30px;">		 

					<div class="col-lg-4 col-sm-4 col-xs-6">

						<div class="form-group">
							<label style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" for="nmCli">Descrição<small> - Detalhes sobre o procedimento</small></label>
							<textarea name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control col-lg-2" pattern="[a-zA-ZáÁéÉêÊíÍóÓôÔãÃ\s]+" ng-minlength="3" ng-maxlength="50" required></textarea>
						</div>
						
					</div>

				</div>

				<div class="row" style="margin-top:30px;">		 

					<div class="col-lg-5 col-sm-4 col-xs-6">

						<div class="form-group">
							<label for="nmCli">Duração em minutos<small> - Tempo estimado para executar o serviço.</small></label>
							<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" style="width:150px;" />
						</div>
						
					</div>

				</div>

				<div class="row row-form-titulo" style="margin-top:20px;">
								
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-user fa-lg"></i>&nbsp;Produtos usados no serviço
						</div>
					</div>	
					
				</div>
				
				<div class="row">			
									
					<div class="col-lg-9 col-sm-12 col-xs-12">
						
						<div style="margin:1px;max-height:400px;overflow:auto">
	
							<table class="table table-striped table-bordered table-hover m-b-none text-medium">
								
								<thead>

									<tr>
										<th  width="60%">Produto</th>
										
										<th  width="30%">Custo - R$</th>
										<th  width="10%">&nbsp;</th>	
									</tr>

								</thead>
								<tbody>

									<tr ng-repeat="produto in vm.listaProdutos" style="cursor:pointer">
										<td>{{produto.nmPro}}</td>
										<td><div style="color:green">50,00 <i class="fa fa-check-square"></i></div></td>
										<td><button type="button" class="btn btn-demage btn-xs" ng-click="vm.listaProdutos.splice($index, 1)"><span class="glyphicon glyphicon-trash"></span>&nbsp;Remover</button></td>
									</tr>
									<tr>
										<td colspan="3"><button class="btn btn-demage btn-xs" ng-click="vm.listaProdutos.push({})"><span class="glyphicon glyphicon-plus"></span>&nbsp;Adicionar Produto</button></td>
									</tr>
								</tbody>
								
							</table>

						</div>
			
					</div>
					
				</div>
				
				<div class="row row-form-titulo" style="margin-top:30px;">
								
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-user fa-lg"></i>&nbsp;Custos
						</div>
					</div>	
					
				</div>
				
				<div class="row">		 

					<div class="col-lg-5 col-sm-4 col-xs-6">

						<div class="form-group">
							<label for="nmCli">Custos com Produtos - R$</label>
							<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" style="width:150px;" disabled="disabled" />
						</div>
						
					</div>

				</div>
				
				<div class="row">		 

					<div class="col-lg-5 col-sm-4 col-xs-6">

						<div class="form-group">
							<label for="nmCli">Outros Custos - R$</label>
							<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" style="width:150px;" />
						</div>
						
					</div>

				</div>
				
				<div class="row" style="margin-top:20px;">		 

					<div class="col-lg-5 col-sm-4 col-xs-6">

						<div class="form-group">
							<label for="nmCli">Custo Total - R$</label>
							<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" style="width:200px;" disabled="disabled" />
						</div>
						
					</div>

				</div>
				
				<div class="row" style="margin-top:20px;">		 

					<div class="col-lg-5 col-sm-4 col-xs-6">
					
						<ui-select ng-model="selectedItem" theme="bootstrap">
							
							<ui-select-match placeholder="Enter an address...">
								<span ng-bind="$select.selected.name"></span>
							</ui-select-match>

							<ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
								<span ng-bind="item.name"></span>
							</ui-select-choices>
						
						</ui-select>

							
					</div>

				</div>
				
				
				<div class="row" style="margin-top:30px;">	

					<div class="col-lg-12 col-sm-4 col-xs-6">
						
						<div align="center">
							
							
							<a ui-sref="app.cliente" class="btn btn-md btn-default">
								<i class="fa fa-times"></i>&nbsp;Cancelar
							</a>
							
							<button ng-click="vm.exibirRemoverCliente()" ng-if="vm.isAlterar" data-ng-disabled="clienteForm.$invalid" class="btn btn-danger btn-md" ng-autodisable ><i class="fa fa-user-times"></i>&nbsp;Deletar</button>

							<button ng-click="vm.inserirCliente()" ng-if="!vm.isAlterar" data-ng-disabled="clienteForm.$invalid" class="btn btn-success btn-lg" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Cadastrar Paciente</button>
							
							<button ng-click="vm.atualizarCliente()" ng-if="vm.isAlterar"  class="btn btn-blue btn-lg" data-ng-disabled="((clienteForm.$invalid) || (clienteForm.$pristine))" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Alterar Paciente</button>
							
						</div>
						
					</div>
								
				</div>

			</div>

		</div>
	
	</form>
		
</widget>