<div id="{{id}}" class="widget">
	
	<div class="widget-header bordered-bottom bordered-blue">
											
		<span class="widget-caption"><b><i class="glyphicon glyphicon-th-large"></i>&nbsp;&nbsp;{{name}}</b> {{complemento}}</span>
		
		<div class="widget-buttons buttons-bordered">

			<button class="btn btn-default btn-xs" style="font-weight:normal;font-size:11px;color:#5C5C5C;background-color:rgba(241, 241, 241, 0.21)"><i class="fa fa-bug"></i>&nbsp;Informar erro</button>

			<button class="btn btn-default btn-xs" style="font-weight:normal;font-size: 11px;color:#5C5C5C;background-color:rgba(241, 241, 241, 0.21)"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;Ajuda ao Usuario</button>

		</div>
		
	</div>

	<div class="widget-body">																							
		
		<div class="table-toolbar">

			<div class="row">	

				<div class="col-xs-12 col-md-12" ng-transclude style="margin-bottom:20px;" >
				
				</div>
							
			</div>

		</div>	
		
	</div>
	
	<BR>

</div>
