﻿<widget id="1" name="{{vm.pagTitle}}">

	<form name="profForm">

		<tabset>

			<tab heading="Cadastro">
			
				<div class="row row-form-titulo">
				
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						
						<div class="form-title form-titulo" ng-click="entrei()">
							<i class="fa fa-user fa-lg"></i>&nbsp;Informações Básicas
						</div>
						
					</div>	
					
				</div>
				
				<div class="row">		 

					<div class="col-lg-8 col-sm-12 col-xs-12">

						<div class="form-group">
							<label for="nmPro">Nome Completo</label>
							<input name="nmPro" ng-model="vm.obj.nmPro" type="text" class="form-control" ng-minlength="3" ng-maxlength="50" required >
						</div>
						
					</div>

				</div>

				<div class="row" style="margin-top:10px;">				

					<div class="col-lg-3 col-sm-12 col-xs-12">

						<div class="form-group">
							<label for="dtNas">Nascimento</label>
							<input name="dtNas" ng-model="vm.obj.dtNas" type="text" class="form-control" ui-mask="99/99/9999">
						</div>

					</div>
				
					<div class="col-lg-3 col-sm-12 col-xs-12">
						
						<div class="form-group">
					
							<label for="tpSex">Sexo</label>
	
							<select name="tpSex" id="tpSex" class="form-control"
								ng-options="option.id as option.ds for option in vm.ltTpSex"
								ng-model="vm.obj.tpSex">
							</select>
	
						</div>
					
					</div>

				</div>	
		
				<div class="row row-form-titulo">
					
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-credit-card fa-lg"></i>&nbsp;Documentação
						</div>
					</div>	
					
				</div>
				
				<div class="row">		
				
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
					
						<documentacao obj="vm.obj.objDoc" />
						
					</div>

				</div>

				<div class="row row-form-titulo">
					
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-phone-square fa-lg"></i>&nbsp;Contato
						</div>
					</div>	
					
				</div>

				<div class="row">		
				
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
					
						<contato obj="vm.obj.objCon" />
						
					</div>

				</div>
			
				<div class="row row-form-titulo">
					
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo">
							<i class="fa fa-phone-square fa-lg"></i>&nbsp;Endereço
						</div>
					</div>	
					
				</div>
				
				<div class="row">
					
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						
						<endereco obj="vm.obj.objEnd" />
						
					</div>	
					
				</div>
			
			</tab>
			
			<tab heading="Especialidades">
				
				<div class="row" style="margin-top:10px;">				

					<div class="col-lg-12 col-sm-12 col-xs-12">
						
						<div class="row" style="margin-top:5px;" ng-if="!vm.showInsEsp">				

							<div class="col-lg-12 col-sm-12 col-xs-12">
								
								<div align="right">
		
									<a ng-click="vm.showInsEsp=!vm.showInsEsp" class="btn btn-xs btn-blue">
										<i class="fa fa-plus"></i>&nbsp;Cadastrar Especialidade	
									</a>
									
								</div>
							
							</div>

						</div>	
						
						<div ng-if="vm.showInsEsp">
						
							<div class="row row-form-titulo" style="padding-top: 0px;">
						
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-phone-square fa-lg"></i>&nbsp;Cadastrar Especialidade												
									</div>
								</div>	
								
							</div>
							
							<div class="row" >
							
								<div class="col-lg-4 col-sm-4 col-xs-4"> 

									<ui-select ng-model="vm.newEsp" theme="bootstrap">
										<ui-select-match placeholder="Selecione uma especialidade...">{{$select.selected.nmEsp}}</ui-select-match>
										<ui-select-choices repeat="item in vm.listaEsp | filter: $select.search">
										  <div ng-bind-html="item.nmEsp | highlight: $select.search"></div>
										</ui-select-choices>
									</ui-select>
									
								</div>
								
							</div>
							
							<div class="row" style="margin-bottom:20px;">	

								<div class="col-xs-12 col-md-12">
									
									<div align="center">

										<button ng-click="vm.showInsEsp=false" class="btn btn-md btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;Cancelar</button>
										
										<button ng-click="vm.insEsp()" data-ng-disabled="vm.newEsp.id == undefined" class="btn btn-success btn-xs" >&nbsp;<i class="fa fa-save"></i>&nbsp;Cadastrar Especialidade&nbsp;</button>

									</div>
									
								</div>
											
							</div>
							
						</div>
						
						<div class="row" style="margin-top:5px;">
						
							<div class="col-lg-12 col-sm-12 col-xs-12"> 
								
								<table class="table table-condensed table-bordered m-b-none text-medium">
										
									<tr style="background-color:rgba(232, 232, 232, 0.69);font-weight:bold;color:#636363">
										<td align="left" width="95%">Especialidade</td>
										<td align="center" width="5%">#</td>
									</tr>
									
									<tr ng-repeat="obj in vm.obj.ltEsp | orderBy:['nmEsp'] track by $index">
										
										<td align="left">
											{{obj.nmEsp}}
										</td>
										
										<td align="center">
											<button type="button" class="btn btn-danger btn-xs" ng-click="vm.excEsp(obj.id)"><span class="glyphicon glyphicon-trash"></span></button>
										</td>
									
									</tr>
							
									<tr ng-if="vm.obj.ltEsp.length == 0">
										<td colspan="2" align="center">Sem especialidades cadastradas para este profissional.</td>
									</tr>
						
								</table>
								
							</div>
							
						</div>
				
					</div>

				</div>	
				
			</tab>
			
			<tab heading="Horário de Trabalho">
				
				<div class="row" style="margin-top:10px;">				

					<div class="col-lg-3 col-sm-2 col-xs-10">
					
						<div class="form-group">
					
							<label for="tpSex">Tipo de Horário</label>
							
							<select  name="tpJtr" ng-model="vm.obj.tpJtr" class="form-control" required >
							  <option value="1">Tradicional</option>
							  <option value="2">Personalizado</option>
							</select>

						</div>
					
					</div>

				</div>	

				<div class="row" style="margin-top:10px;" ng-if="vm.obj.tpJtr==2">				

					<div class="col-lg-12 col-sm-12 col-xs-12">
						
						<div class="row" style="margin-top:5px;" ng-if="!vm.showInsPrd">				

							<div class="col-lg-12 col-sm-12 col-xs-12">
								
								<div align="right">
		
									<a ng-click="vm.showInsPrd=!vm.showInsPrd" class="btn btn-xs btn-blue">
										<i class="fa fa-plus"></i>&nbsp;Cadastrar Período de Trabalho	
									</a>
									
								</div>
							
							</div>

						</div>	
						
						<div class="row" style="margin-top:0px;"  ng-if="vm.showInsPrd">				

							<div class="col-lg-12 col-sm-12 col-xs-12">
								
								
								<div class="row row-form-titulo" style="padding-top: 0px;">
					
									<div class="col-lg-12 col-sm-12 col-xs-12"> 
										<div class="form-title form-titulo">
											<i class="fa fa-phone-square fa-lg"></i>&nbsp;Cadastrar Período												</div>
									</div>	
									
								</div>
					
								<div class="row" style="margin-top:0px;">				

									<div class="col-lg-4 col-sm-12 col-xs-12">
		
										<div class="form-group">
					
											<label for="idDSe">Dia da Semana</label>
											
											<select multiple size="7" name="ltDay" ng-model="vm.newPeriodoObj.ltDay" class="form-control" disable-valid-styling="true">
												<option ng-repeat="item in vm.week" value="{{item.idDay}}">{{item.dsDay}}</option>
											</select>

										</div>
		
									</div>
									
									<div class="col-lg-1 col-sm-6 col-xs-6">
										
										
									</div>
									
									<div class="col-lg-2 col-sm-6 col-xs-6" style="font-weight:bold">
										
										<label for="idDSe">De:</label>
										<uib-timepicker  ng-model="vm.newPeriodoObj.start" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="false"></uib-timepicker>
				
									</div>	
									
									<div class="col-lg-2 col-sm-6 col-xs-6" style="font-weight:bold">
										
										<label for="idDSe">Até:</label>
										<uib-timepicker  ng-model="vm.newPeriodoObj.end" hour-step="vm.hstep" minute-step="vm.mstep" show-meridian="false"></uib-timepicker>
				
									</div>	
							
								
								</div>
								
								<div class="row" style="margin-bottom:20px;">	

									<div class="col-xs-12 col-md-12">
										
										<div align="center">

											<button ng-click="vm.showInsPrd=false" class="btn btn-md btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;cancelar</button>
											
											<button ng-click="vm.insPrd()" ng-if="vm.showInsPrd" data-ng-disabled="vm.newPeriodoObj.ltDay.length == 0" class="btn btn-success btn-xs">&nbsp;<i class="fa fa-save"></i>&nbsp;Cadastrar Período&nbsp;</button>

										</div>
										
									</div>
												
								</div>
						
							</div>

						</div>	

						<div class="row"  style="margin-top:5px;">				
						
							<div class="col-lg-12 col-sm-12 col-xs-12">

								<table class="table table-condensed table-bordered m-b-none text-medium">
									
									<tr style="background-color:rgba(232, 232, 232, 0.69);font-weight:bold;color:#636363;"><td align="left" colspan="3" style="font-weight:bold;border-bottom-width: medium;"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Grade de Horários</td></tr>
									
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Domingo</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:0} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Segunda-Feira</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:1} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Terça-Feira</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:2} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Quarta-Feira</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:3} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Quinta-Feira</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:4} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Sexta-Feira</td></tr>
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:5} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
									<tr><td align="left" colspan="3" style="background-color:#FBFBFB;font-weight:bold;color:#69696B"><span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span> Sábado</td></tr>	
									<tr ng-repeat="obj in vm.obj.ltPrd | filter:{idDay:6} | orderBy:['idDay','start'] track by $index">
										<td align="center" width="15%" style="font-size:10px;padding-top:10px;color:#696666">{{$index + 1}}º horário</td>
										<td align="left" width="70%" style="padding-left:20px;">{{obj.start| amDateFormat:'HH:mm'}} até {{obj.end | amDateFormat:'HH:mm'}}</td>
										<td align="center" width="15%">
											<button ng-click="vm.excPrd(obj.id)" class="btn btn-default btn-xs"><span class="glyphicon glyphicon glyphicon-trash red" aria-hidden="true"></span> remover</button>
										</td>
									</tr>
							
								</table>
						
							</div>
						
						</div>
					
					</div>
					
				</div>
				
			</tab>
		
		</tabset>

		<div align="center" style="margin-top:40px">
			
			<a ui-sref="app.profissional" class="btn btn-lg btn-default">
				<i class="fa fa-times"></i>&nbsp;cancelar
			</a>
			
			<button ng-click="vm.inserir()" ng-autodisable  class="btn btn-success btn-lg" ng-if="vm.operation==1"><i class="fa fa-save"></i>&nbsp;Cadastrar Profissional</button>
			<button ng-click="vm.remover()" ng-autodisable  class="btn btn-demage btn-lg" ng-if="vm.operation==2"><i class="fa fa-save"></i>&nbsp;Remover&nbsp;</button>
			<button ng-click="vm.alterar()" ng-autodisable  class="btn btn-info btn-lg" ng-if="vm.operation==2"><i class="fa fa-save"></i>&nbsp;&nbsp;Salvar&nbsp;&nbsp;</button>
			
		</div>

	</form>

</widget>


