﻿<widget id="1" name="Profissionais">

	<div class="row" style="margin-top:10px;">
	
		<div class="col-lg-12 col-sm-12 col-xs-12">

			<div class="row" style="margin-top:0px;">				

				<div class="col-lg-12 col-sm-12 col-xs-12">
					
					<div align="right">

						<a ui-sref="app.cadastrarProfissional" class="btn btn-xs btn-blue">
							<i class="fa fa-plus"></i>&nbsp;Cadastrar Profissional
						</a>
					
					</div>
				
				</div>

			</div>

			<div class="row" style="margin-top:10px;" ng-if="vm.lista != null && vm.lista.length > 0">			
								
				<div class="col-lg-12 col-sm-12 col-xs-12">

					<table datatable="" dt-options="vm.dtOptions" dt-instance="vm.dtInstance" class="table table-striped table-condensed table-bordered m-b-none text-medium">
						
						<thead>
						
							<tr style="background-color:rgba(232, 232, 232, 0.69);font-weight:bold;color:#636363">
								
								<th width="40%">Nome</th>
								<th width="15%">Celular</th>
								<th width="32%">Especialidade(s)</th>
								<th width="13%">&nbsp;</th>	
								
							</tr>
							
						</thead>
						
						<tbody>
						
							<!--------- ngRepeat ----------->
							<tr ng-repeat="obj in vm.lista">

								<td align="left" style="padding-top:8px;color:#636363">{{obj.nmPro}}</td>
								<td align="left" style="padding-top:8px;color:#636363">{{obj.nuCel}}</td>
								<td align="left" style="padding-top:8px;color:#636363">
									<ul style="padding-left:20px;margin-bottom:0px;">
										<li ng-repeat="it in obj.ltEsp">{{it.nmEsp}}</li>
									<ul>
								</td>

								<td align="center">
									<button type="button" class="btn btn-danger btn-xs" ng-click="vm.del(obj.id)"><span class="glyphicon glyphicon-trash"></span></button>
									<button type="button" class="btn btn-warning btn-xs" ng-click="vm.edit(obj.id)"><span class="glyphicon glyphicon-pencil"></span></button>
								</td>
								
							</tr>
							<!---------/ngRepeat ----------->

						</tbody>

					</table>

				</div>
		
			</div>

		</div>
		
	</div>
	
</widget>


