﻿<table class="table table-condensed table-hover" style="cursor:pointer;font-size:13px;color:#337AB7">

	<tbody>
	
		<tr style="font-weight:bold;color:rgba(140, 140, 140, 0.75);background-color:rgba(251, 251, 251, 0.73);"><td align="left">Cadastros do Sistema</td></tr>
		
		<tr><td align="left"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;<a ui-sref="app.cadastrobaseespecialidade" style="color:rgba(125, 125, 125, 0.97)">Especialidades</a></td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		
		<tr style="font-weight:bold;color:rgba(140, 140, 140, 0.75);background-color:rgba(251, 251, 251, 0.73);"><td align="left">Convênios</td></tr>
		
		
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;<a ui-sref="app.cadastrobaseoperadorasaude" style="color:rgba(125, 125, 125, 0.97)">Operadoras de Saúde</a></td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Empresas Conveniadas</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Outros Convênios</td></tr>
	
		<tr style="font-weight:bold;color:rgba(140, 140, 140, 0.75);background-color:rgba(251, 251, 251, 0.73);"><td align="left">Cadastros do Sistema</td></tr>
		
		
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
		<tr><td align="left" style="color:rgba(125, 125, 125, 0.97)"><span class="glyphicon glyphicon-stop" style="color:#E5E5E5"></span>&nbsp;Especialidades</td></tr>
	
	
	</tbody>
	
</table>