﻿<div class="contatoContainer">

	<div class="row">		
								
		<div class="col-lg-3 col-sm-2 col-xs-4">
			<div class="form-group">
				<label for="nuCel"><i class="fa fa-mobile"></i>&nbsp;Celular</label>
				<input type="tel" name="nuCel" ng-model="obj.nuCel" ui-mask=" ( 99 ) 9 9999-9999" class="form-control" required >
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-2 col-xs-10" style="padding-left: 30px;" ng-show="obj.nuCel.length > 0">
					
			<div class="form-group">
				
				<label for="idOCe" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Operadora</label>
		
				<select name="idOCe" id="idOCe" class="form-control"
						ng-options="option.id as option.ds for option in ltOCel"
						ng-model="obj.idOCe">
				</select>
				
			</div>
			
		</div>

	</div>
	
	<div class="row" style="margin-top:20px;">
		
		<div class="col-lg-3 col-sm-3 col-xs-4">
			<div class="form-group">
				<label for="nuTel"><i class="fa fa-phone red"></i>&nbsp;Telefone</label>
				<input type="tel" name="nuTel" ng-model="obj.nuTel" ui-mask="( 99 ) 9999-9999"  class="form-control" >
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-4 col-xs-4" style="padding-left: 30px;" ng-show="obj.nuTel.length > 0">
			<div class="form-group">
				<label for="nmRTe" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Deixar recado com</label>
				<input type="text" name="nmRTe" ng-model="obj.nmRTe" class="form-control" maxlength="30">
			</div>
		</div>
		
	</div>
	
	<div class="row">
		
		<div class="col-lg-3 col-sm-2 col-xs-4">
			<div class="form-group">
				<label for="nuWap"><i class="fa fa-whatsapp green"></i>&nbsp;WhatsApp</label>
				<input type="tel" name="nuWap" ng-model="obj.nuWap" ui-mask="( 99 ) 9 9999-9999" class="form-control" >
			</div>
		</div>
		
	</div>

	<div class="row">				

		<div class="col-lg-6 col-sm-6 col-xs-8">

			<div class="form-group">
				<label for="dsEma"><i class="fa fa-envelope-o"></i>&nbsp;E-mail</label>
				<input type="email" name="dsEma" ng-model="obj.dsEma" class="form-control" placeholder="Ex. seu.paciente@i9mind.com" maxlength="40">
				<p style="font-size:11.5px;color:#B78800" ng-if="(obj.dsEma == null || obj.dsEma == '') && (clienteForm.dsEma.$error.email != true)"><span class="glyphicon glyphicon-warning-sign"></span> O e-mail é um importante campo a ser preenchido.</p>
			</div>

		</div>

	</div>
	
	<div class="row">				

		<div class="col-lg-6 col-sm-6 col-xs-8">

			<div class="form-group">
				<label for="dsOct" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Outros Contatos</label>
				<textarea name="dsOct"  ng-model="obj.dsOct" class="form-control" rows="3" id="dsOct"></textarea>
			</div>

		</div>

	</div>

</div>