﻿<div class="endContainer">

	<div class="row">

		<div class="col-lg-6 col-sm-12 col-xs-12">
			<div class="form-group">
				<label for="vm.address">Localize o Endereço</label>		
				<input vs-google-autocomplete="endGoogleOptions" type="text" name="endAddress" ng-model="endAddress.name" vs-place="endAddress.place" id="address" class="form-control" style="border: 1px solid rgba(121, 172, 222, 0.6);color:#556680;">
				<p style="font-size:10px;color:rgba(105, 105, 107, 0.79);text-align:right"><a ng-click="endExibirBuscaCep()">ou buscar por CEP</a></p>
			</div>
		</div>
	
		<div class="col-lg-2 col-sm-2 col-xs-2" ng-show="endExibirCep">
															
			<div class="form-group">
				<label for="endPesqCep">Buscar CEP</label>
				<input type="text" focus-me="shouldBeOpen" id="endPesqCep" name="endPesqCep" ng-model="endPesqCep" class="form-control" ui-mask="99999-999" style="border: 1px solid rgba(121, 172, 222, 0.6);color:#556680;">
			</div>
	
		</div>
		
		<div class="col-lg-2 col-sm-2 col-xs-2" ng-if="(endPesqCep.length == 8) && (endExibirCep)" style="padding-left: 3px;">
			<button ng-click="endCarregarCep()" class="btn btn-default btn-xs" ng-autodisable style="font-weight:normal;font-size:11px;color:#5C5C5C;background-color:rgba(241, 241, 241, 0.21);margin-top: 25px;">&nbsp;<i class="fa fa-search"></i> Buscar</button>
		</div>
		
	</div>	

	<div class="row"  style="margin-top:10px;">

		<div class="col-lg-4 col-sm-4 col-xs-4">
			
			<div class="form-group">
				<label for="dsLog">Logradouro</label>												
				<input type="text" name="dsLog" ng-focus="vm.exibirCep" ng-model="obj.dsLog" class="form-control" placeholder="Ex: Nome da Rua, Avenida, Estrada.." maxlength="40" ng-minlength="5" ng-maxlength="40">
			</div>
			
		</div>		

		<div class="col-lg-2 col-sm-2 col-xs-1">
			
			<div class="form-group">
				<label for="nuLog">Numero</label>												
				<input type="text" name="nuLog" ng-model="obj.nuLog" class="form-control" maxlength="10">
				<p style="font-size:11.5px;color:#B78800" ng-if="(obj.dsLog != null && obj.dsLog != '') && (obj.nuLog == null || obj.nuLog == '')"><span class="glyphicon glyphicon-warning-sign"></span> Informar o numero.</p>
			</div>
			
		</div>		
		
		<div class="col-lg-4 col-sm-3 col-xs-2">
			
			<div class="form-group">
				<label for="dsLoC" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Complemento | Ponto de Referência</label>												
				<input type="text" name="dsLoC" ng-model="obj.dsLoC" class="form-control" maxlength="70">
			</div>
			
		</div>	
		
	</div>

	<div class="row">
		
		<div class="col-lg-3 col-sm-4 col-xs-4">
															
			<div class="form-group">
				<label for="dsBai">Bairro</label>
				<input type="text" name="dsBai" ng-model="obj.dsBai" class="form-control" maxlength="30">
			</div>
	
		</div>
		
		<div class="col-lg-3 col-sm-3 col-xs-3">
															
			<div class="form-group">
				<label for="dsCid">Cidade</label>
				<input type="text" name="dsCid" ng-model="obj.dsCid" class="form-control" maxlength="30">
			</div>
	
		</div>
		
		<div class="col-lg-2 col-sm-2 col-xs-2">
															
			<div class="form-group">
				<label for="dsEst">Estado</label>
				<input type="text" name="dsEst" ng-model="obj.dsEst" class="form-control" maxlength="30">
			</div>
	
		</div>
		
		<div class="col-lg-2 col-sm-2 col-xs-2">
															
			<div class="form-group">
				<label for="dsPai">País</label>
				<input type="text" name="dsPai" ng-model="obj.dsPai" class="form-control" maxlength="20">
			</div>
	
		</div>
		
	</div>

	<div class="row">

		<div class="col-lg-2 col-sm-2 col-xs-2">
															
			<div class="form-group">
				<label for="nuCep">CEP</label>
				<input type="text" name="nuCep" ng-model="obj.nuCep" ui-mask="99999-999" class="form-control" maxlength="10">
			</div>
	
		</div>
		
	</div>

</div>