<div class="input-group">
												  
	<input type="text" class="form-control" datepicker-popup="dd/MM/yyyy"  ng-model="dt" is-open="open.dataFim"  close-text="Fechar" />

	<span class="input-group-btn">
		<button style="height:34px;" class="btn btn-default" ng-click="openCalendar($event, 'dataFim')">
			<i class="fa fa-calendar"></i>
		</button>
	</span>
	
</div>