<div id="content-main" class="ui page grid">

    <div class="sixteen wide column">

        <h4>
            <div class="ui dropdown">
                <div class="text"> <i class="warning icon"></i> Incidente </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="#"><i class="warning icon"></i> Incidente </a>
                    <a class="item" href="#"><i class="suitcase icon"></i> Demanda </a>
                    <a class="item" href="#"><i class="tag icon"></i> Independente </a>
                </div>
            </div>
        </h4>

        <h4 class="ui horizontal header divider" style="margin-top: 0px;">
            <i class="tasks icon"></i>
            Cadastro de Atividade
        </h4>

        <form class="ui form">    <!-- adicionar a classe "error" para que a div de erro apareça -->

            <div class="ui grid">

                <div class="doubling one column row">
                    <div class="column">

                        <div class="ui error icon message">
                            <i class="icon attention"></i>
                            <div class="content">
                                <div class="header">
                                    Menssagem de Erro Inteira
                                </div>
                                <ul class="list">
                                    <li>Primeira mensagem de erro</li>
                                    <li>Segunda mensagem de erro</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="doubling two column row">
                    <div class="column">
                        <div class="field">

                            <label> Incidente <i class="small red icon asterisk"></i> </label>
                            <div class="ui fluid category search">
                                <div class="ui icon input">
                                    <input class="prompt" type="text" placeholder="Id ou Título do incidente">
                                    <i class="search icon"></i>
                                </div>
                                <div class="results"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <h4 class="ui horizontal header divider"> <i class="double angle down icon"></i> </h4>

                <div class="doubling one column row" style="padding-bottom: 0px;">
                    <div class="column">
                        <div class="field">

                            <div class="ui selection dropdown" style="width: 200px; float: right;">
                                <input type="hidden" name="country">
                                <i class="dropdown icon"></i>
                                <div class="default text">Prioridade...</div>
                                <div class="menu">
                                    <div class="item" data-value="baixa-prioridade"><i class="green warning sign icon"></i>Baixa</div>
                                    <div class="item" data-value="media-prioridade"><i class="yellow warning sign icon"></i>Média</div>
                                    <div class="item" data-value="alta-prioridade"><i class="red warning sign icon"></i>Alta</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="doubling two column row">

                    <div class="column">

                        <div class="field">
                            <label> Título <i class="small red icon asterisk"></i> </label>
                            <input type="text" placeholder="Título descritivo" />

                            <label style="margin-top: 16px;"> Quem vai fazer? <i class="small red icon asterisk"></i> </label>

                            <div class="two fields">

                                <div class="field">
                                    <div class="ui search selection dropdown">
                                        <input type="hidden" name="equipe">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Equipe...</div>
                                        <div class="menu">
                                            <div class="item" data-value="canais-web"> Canais Web </div>
                                            <div class="item" data-value="GCTI"> GCTI </div>
                                            <div class="item" data-value="governança"> Governança </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="field">

                                    <div class="ui search selection dropdown">
                                        <input type="hidden" name="responsavel">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Responsável...</div>
                                        <div class="menu">
                                            <div class="item" data-value="gabriel-lima"> <img class="ui avatar image" src="static/img/foto-perfil.jpg" /> Gabriel Lima </div>
                                            <div class="item" data-value="andressa-bezerra"> <img class="ui avatar image" src="static/img/foto-perfil.jpg" /> Andressa Bezerra </div>
                                            <div class="item" data-value="carlos-lopes"> <img class="ui avatar image" src="static/img/foto-perfil.jpg" /> Carlos Lopes </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <label> Tempo estimado <i class="small red icon asterisk"></i> </label>

                            <div class="two fields">

                                <div class="field">
                                    <input type="text" placeholder="Dias estimados" />
                                </div>

                                <div class="field">
                                    <input type="text" placeholder="Horas estimadas" />
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="column">

                        <div class="field">
                            <label> Descrição </label>
                            <textarea placeholder="Descreva mais detalhes da atividade"></textarea>
                        </div>

                    </div>

                </div>

                <div class="two column row">

                    <div class="column">
                        <div class="ui submit button" style="float: right;"> <i class="save icon"></i> Salvar </div>
                    </div>

                    <div class="column">
                        <div class="ui submit button"> <i class="erase icon"></i> Limpar</div>
                    </div>

                </div>

            </div>

        </form>

        <h4 class="ui dividing header">  </h4>

    </div>

</div>