<div id="content-main" class="ui page grid">

    <h1> O que essa atividade resolve ? </h1>

    <div class="sixteen wide column">
        <div class="ui cards">

            <a class="card" style="text-align: center; color: #5A5A5A;" href="http://localhost:9090/#/atividade/incidente/nova">
                <div class="content">
                    <i class="warning huge icon"></i>
                    <h2> Incidente </h2>
                    <div class="description">
                        Problema no software.
                    </div>
                </div>
            </a>

            <a class="card" style="text-align: center; color: #5A5A5A;" href="http://localhost:9090/#/atividade/demanda/nova">
                <div class="content">
                    <i class="suitcase huge icon"></i>
                    <h2> Demanda </h2>
                    <div class="description">
                        Solicitada pelo cliente.
                    </div>
                </div>
            </a>
            <a class="card" style="text-align: center; color: #5A5A5A;" href="http://localhost:9090/#/atividade/independente/nova">
                <div class="content">
                    <i class="tag huge icon"></i>
                    <h2> Independente </h2>
                    <div class="description">
                        Apenas uma atividade.
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>