﻿<div class="panel panel-default">
	
	<div class="panel-heading"><i class="fa fa-calendar"></i> Agendar Consulta<button ng-click="cancelar()" type="button" class="close" ><span>&times;</span></button></div>
	
	<div class="panel-body">
	
		<div class="row">

			<div class="col-lg-12 col-sm-7 col-xs-12">

				<div class="panel panel-default">
							
					<div class="panel-heading">
						Serviço
					</div>
					
					<div class="panel-body" style="padding:7px;">
						
						<div class="row">				

							<div class="col-lg-12 col-sm-6 col-xs-6">
								
								<div class="form-group">
									<label for="exampleInputEmail1">Serviço</label>
									<select class="form-control">
										<optgroup label="Comum">
										  <option>Consulta Simples</option>
										  <option>Exame</option>
										  <option>Relish</option>
										</optgroup>
										<optgroup label="Pacote">
										  <option>Pacote Groupon 1</option>
										  <option>Flashlight</option>
										  <option>Toilet Paper</option>
										</optgroup>
									</select>
								</div>
						
							</div>	
					
						</div>
				
					</div>
					
				</div>

			</div>

		</div>

	</div>
	
	<div class="panel-footer">
	
		<div align="center">
			<button ng-click="cancelar()" ng-autodisable  class="btn btn-default btn-md" ><i class="fa fa-times"></i>&nbsp;Cancelar</button>
			<button ng-click="inserir()"  ng-autodisable  class="btn btn-primary btn-md" ><i class="fa fa-save"></i>&nbsp;Salvar</button>
		</div>
		
	</div>
</div>