﻿<div class="docContainer">

	<div class="row">
			
		<div class="col-lg-2 col-sm-2 col-xs-8">
			<div class="form-group">
				<label for="nuIde">RG</label>
				<input name="nuIde" ng-model="obj.nuIde" type="text" class="form-control" ui-mask="999.999.999-9">
			</div>
		</div>
		
		<div class="col-lg-3 col-sm-3 col-xs-8" style="padding-left: 30px;" ng-show="obj.nuIde > 0">
			<div class="form-group">
				<label for="dsOER" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Emissor</label>
				<input name="dsOER" ng-model="obj.dsOER" type="text" class="form-control" ng-minlength="3" ng-maxlength="10">
			</div>
		</div>
		
		<div class="col-lg-2 col-sm-3 col-xs-8" ng-show="obj.nuIde > 0">
	
			<div class="form-group">
				
				<label for="idOEU" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">UF</label>

				<select name="idOEU" id="idOEU" class="form-control"
						ng-options="option.id as option.ds for option in listaUF"
						ng-model="obj.idOEU">
				</select>
							
			</div>
			
		</div>

	</div>

	<div class="row">

		<div class="col-lg-2 col-sm-2 col-xs-8">
			<div class="form-group">
				<label for="cpf">CPF</label>
				<input name="cpf" ng-model="obj.nuCpf" ui-mask="999.999.999-99" type="text" class="form-control">
			</div>
		</div>

	</div>

	<div class="row">
			
		<div class="col-lg-2 col-sm-2 col-xs-10">
					
			<div class="form-group">
				
				<label for="tpECi">Estado Civíl</label>
		
				<select name="tpECi" id="tpECi" class="form-control"
						ng-options="option.id as option.ds for option in listaTpECivil"
						ng-model="obj.tpECi">
				</select>
				
			</div>
			
		</div>
		
	</div>

</div>