﻿<widget id="1" name="{{vm.nomeFunc}}" complemento="{{vm.comp}}">

	<form name="clienteForm" role="form">

		<div class="row row-top-pagina">				

			<div class="col-lg-12 col-sm-12 col-xs-12">

				<tabset>
			
					<tab>
						
						<tab-heading>
							<i class="fa fa-user"></i> Básico
						</tab-heading>
						
						<div style="min-height:400px;">
							
							<div class="row row-form-titulo">
								
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-user fa-lg"></i>&nbsp;Informações Basicas
									</div>
								</div>	
								
							</div>

							<div class="row">	

								<!-- INFORMACOES BASICAS -->
								<div class="col-lg-8 col-sm-9 col-xs-9">
							
									<div class="row">		 

										<div class="col-lg-8 col-sm-12 col-xs-12">

											<div class="form-group">
												<label for="nmCli">Nome Completo</label>
												<input name="nmCli" ng-model="vm.cliente.nmCli" type="text" class="form-control" pattern="[a-zA-ZáÁéÉêÊíÍóÓôÔãÃ\s]+" ng-minlength="3" ng-maxlength="50" required >
											</div>
											
										</div>

									</div>

									<div class="row" style="margin-top:10px;">				

										<div class="col-lg-3 col-sm-12 col-xs-12">
			
											<div class="form-group">
												<label for="tdtNas">Nascimento</label>
												<input name="tdtNas" ng-model="vm.cliente.tdtNas" type="text" class="form-control" ui-mask="99/99/9999">
											</div>
			
										</div>
									
										<div class="col-lg-3 col-sm-2 col-xs-10">
											
											<div class="form-group">
										
												<label for="tpSex">Sexo</label>
												<select  name="tpSex" ng-model="vm.cliente.tpSex" class="form-control" disable-valid-styling="true">
												  <option value="0">Não Informado</option>
												  <option value="1">Masculino</option>
												  <option value="2">Feminino</option>
												</select>

											</div>
										
										</div>

									</div>	
									
									<div class="row">
									
										<div class="col-lg-4 col-sm-2 col-xs-8">
											<div class="form-group">
												<label for="rg">RG</label>
												<input name="rg" ng-model="vm.cliente.nuIde" type="text" class="form-control" ui-mask="999.999.999-9">
											</div>
										</div>

									</div>
									
									<div class="row">		
								
										<div class="col-lg-4 col-sm-12 col-xs-12">
											<div class="form-group">
												<label for="nuCel"><i class="fa fa-mobile"></i>&nbsp;Celular</label>
												<input type="tel" name="nuCel" ng-model="vm.cliente.nuCel" ui-mask=" ( 99 ) 9 9999-9999" class="form-control" required >
											</div>
										</div>

									</div>

									<div class="row" style="margin-top:10px;">				

										<div class="col-lg-3 col-sm-4 col-xs-4">
											<div class="form-group checkbox checkbox-info">
												<input name="isRes" id="isRes" type="checkbox" ng-model="vm.cliente.isRes">
												<label for="isRes" style="font-weight:bold;">
													Possui Responsável
												</label>
											</div>
										</div>
										
										<div class="col-lg-3 col-sm-4 col-xs-4">
											<div class="form-group checkbox checkbox-info">
												<input name="isDef" id="isDef" type="checkbox" ng-model="vm.cliente.isDef">
												<label for="isDef" style="font-weight:bold;">
													Possui Deficiencia
												</label>
											</div>
										</div>

									</div>	
									
								</div>

							</div>
							
						</div>

					</tab>
					
					<tab>
						
						<tab-heading>
							<i class="fa fa-credit-card"></i> Documentação
						</tab-heading>
						
						<div style="min-height:400px;">

							<div class="row row-form-titulo">
								
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-credit-card fa-lg"></i>&nbsp;Documentação
									</div>
								</div>	
								
							</div>
							
							<div class="row">
							
								<div class="col-lg-2 col-sm-2 col-xs-8">
									<div class="form-group">
										<label for="rg">RG</label>
										<input name="rg" ng-model="vm.cliente.nuIde" type="text" class="form-control" ui-mask="999.999.999-9">
									</div>
								</div>
								
								<div class="col-lg-3 col-sm-3 col-xs-8" style="padding-left: 30px;" ng-show="vm.cliente.nuIde > 0">
									<div class="form-group">
										<label for="dsOER" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Emissor</label>
										<input name="dsOER" ng-model="vm.cliente.dsOER" type="text" class="form-control">
									</div>
								</div>
								
								<div class="col-lg-2 col-sm-3 col-xs-8" ng-show="vm.cliente.nuIde > 0">
									<div class="form-group">
										
										<label for="idOEU" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">UF</label>

										<select name="idOEU" ng-model="vm.cliente.idOEU" class="form-control">
										  <option value="0">Não Informado</option>
										  <option ng-repeat="item in vm.listaUF" value="{{item.id}}">{{item.ds}}</option>
										</select>

									</div>
									
								</div>

							</div>
							
							<div class="row">

								<div class="col-lg-2 col-sm-2 col-xs-8">
									<div class="form-group">
										<label for="cpf">CPF</label>
										<input name="cpf" ng-model="vm.cliente.nuCpf" ui-mask="999.999.999-99" type="text" class="form-control">
									</div>
								</div>

							</div>
							
							<div class="row">
									
								<div class="col-lg-2 col-sm-2 col-xs-10">
											
									<div class="form-group">
										
										<label for="tpECi">Estado Civíl</label>
										<select  name="tpECi" ng-model="vm.cliente.tpECi" class="form-control">
										  <option value="0">Não Informado</option>
										  <option value="1">Solteiro</option>
										  <option value="2">Casado(a)</option>
										  <option value="3">Divorciado(a)</option>
										  <option value="4">Viúvo(a)</option>
										  <option value="5">Separado(a)</option>
										  <option value="6">Companheiro(a)</option>
										</select>

									</div>
									
								</div>
								
							</div>

							<div class="row" style="margin-top:20px;">
								
								<div class="col-lg-4 col-sm-2 col-xs-10">
											
									<div class="form-group" style="margin-bottom: 4px;">
										
										<label for="tpCon">Convenio</label>
										<select  name="tpCon" ng-model="vm.cliente.tpCon" class="form-control" tooltip="Selecione se o seu cliente possui algum tipo de convênio" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
										  <option value="0">Sem Convenio</option>
										  <option value="1">Operadora de Saúde</option>
										  <option value="2">Empresa Conveniada</option>
										  <option value="3">Outros Convênios</option>
										</select>

									</div>
									
								</div>
								
							</div>
				
							<div class="row">
								
								<div class="col-lg-12 col-sm-12 col-xs-12" style="padding-left: 11px;">
									
									<div ng-show="vm.cliente.tpCon == 1">
									
										<div class="jumbotron" style="padding-top: 10px;padding-bottom: 5px;padding-left: 5px;padding-right: 10px;margin-bottom: 0px;background-color: rgba(237, 237, 237, 0.38);border-radius: 0px;text-align:left;">
										
											<div class="row">
									
												<div class="col-lg-4 col-sm-2 col-xs-10">
														
													<div class="form-group">
														
														<label for="idOsa">Operadora de Saúde</label>
														
														<select name="idOsa" ng-model="vm.cliente.idOsa" class="form-control">
														  <option value="0">Não Informado</option>
														  <option ng-repeat="item in vm.listaConvOpeSau" value="{{item.id}}">{{item.nmOpe}}</option>
														</select>
														
														<p style="font-size:11.5px;color:#B78800" ng-if="(vm.cliente.tpCon == '1' && vm.cliente.idOsa == '0')"><span class="glyphicon glyphicon-warning-sign"></span> Não foi selecionada uma operadora de saúde.</p>
													
													</div>
													
												</div>
												
												<div ng-show="vm.cliente.idOsa != 0">
												
													<div class="col-lg-2 col-sm-3 col-xs-8">
														<div class="form-group">
															<label for="dsOpc" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Plano Contratado</label>
															<input name="dsOpc" ng-model="vm.cliente.dsOpc" type="text" class="form-control">
														</div>
													</div>
													
													<div class="col-lg-3 col-sm-4 col-xs-4">
														<div class="form-group">
															<label for="nuOpc" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Numero da Carteirinha</label>
															<input name="nuOpc" ng-model="vm.cliente.nuOpc" type="text" class="form-control" >
														</div>
													</div>
													
													<div class="col-lg-2 col-sm-4 col-xs-4">
														<div class="form-group">
															<label for="tdtOpV" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Validade</label>
															<input name="tdtOpV" ng-model="vm.cliente.tdtOpV" type="text" class="form-control" tooltip="Se não preenchido, o convênio do usuário não terá validade para o sistema." tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
														</div>
													</div>
												
												</div>
												
											</div>

										</div>
										
									</div>
									
									<div ng-show="vm.cliente.tpCon == 2">
									
										<div class="jumbotron" style="padding-top: 10px;padding-bottom: 5px;padding-left: 5px;padding-right: 10px;margin-bottom: 0px;background-color: rgba(237, 237, 237, 0.38);border-radius: 0px;text-align:left;">
										
											<div class="row">
									
												<div class="col-lg-4 col-sm-2 col-xs-10">
															
													<div class="form-group">
														
														<label for="idEcv">Empresa Conveniada</label>
														
														<select name="idEcv" ng-model="vm.cliente.idEcv" class="form-control">
														  <option value="0">Não Informado</option>
														  <option ng-repeat="item in vm.listaEmpConv" value="{{item.id}}">{{item.nmEmp}}</option>
														</select>
														
														<p style="font-size:11.5px;color:#B78800" ng-if="(vm.cliente.tpCon == '2' && vm.cliente.idEcv == '0')"><span class="glyphicon glyphicon-warning-sign"></span> Não foi selecionada uma empresa conveniada.</p>
													
													</div>
													
												</div>
												
												<div ng-show="vm.cliente.idEcv != 0">

													<div class="col-lg-3 col-sm-4 col-xs-4">
														<div class="form-group">
															<label for="nuErg" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Numero do Registro</label>
															<input name="nuErg" ng-model="vm.cliente.nuErg" type="text" class="form-control" >
														</div>
													</div>
													
													<div class="col-lg-2 col-sm-4 col-xs-4">
														<div class="form-group">
															<label for="tdtEcV" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Validade</label>
															<input name="tdtEcV" ng-model="vm.cliente.tdtEcV" type="text" class="form-control" tooltip="Se não preenchido, o convênio do usuário não terá validade para o sistema." tooltip-placement="right" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
														</div>
													</div>
												
												</div>
												
											</div>

										</div>
										
									</div>
									
									<div ng-show="vm.cliente.tpCon == 3">
									
										<div class="jumbotron" style="padding-top: 10px;padding-bottom: 5px;padding-left: 5px;padding-right: 10px;margin-bottom: 0px;background-color: rgba(237, 237, 237, 0.38);border-radius: 0px;text-align:left;">
										
											<div class="row">
									
												<div class="col-lg-4 col-sm-2 col-xs-10">
															
													<div class="form-group">
														
														<label for="idOco">Outros Convênios</label>
					
														<select name="idOco" ng-model="vm.cliente.idOco" class="form-control">
														  <option value="0">Não Informado</option>
														  <option ng-repeat="item in vm.listaOutConv" value="{{item.id}}">{{item.nmCon}}</option>
														</select>
														
														<p style="font-size:11.5px;color:#B78800" ng-if="(vm.cliente.tpCon == '3' && vm.cliente.idTsc == '0')"><span class="glyphicon glyphicon-warning-sign"></span> Não foi selecionado um trabalho social.</p>
													
													</div>
													
												</div>
											
											</div>

										</div>
										
									</div>

								</div>
								
							</div>
						
						</div>

					</tab>
					
					<tab ng-show="vm.cliente.isRes">
						
						<tab-heading>
							<i class="fa fa-male"></i> Responsável
						</tab-heading>
						
						<div style="min-height:400px;">

							<div ng-show="vm.cliente.isRes">

								<div class="row row-form-titulo">
									
									<div class="col-lg-12 col-sm-12 col-xs-12"> 
										<div class="form-title form-titulo">
											<i class="fa fa-male fa-lg"></i>&nbsp;Responsável
										</div>
									</div>	
									
								</div>
								
								<div class="row">

									<div class="col-lg-3 col-sm-6 col-xs-10">
												
										<div class="form-group">
											
											<label for="idRGp">Grau de Parentesco</label>
											<select name="idRGp" ng-model="vm.cliente.idRGp" class="form-control" tooltip="Informe o grau de parentesco entre o paciente e o responsável." tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
												<option value="0">Não Informado</option>
												<option value="1">Pai/Mãe</option>
												<option value="2">Filho(a)</option>
												<option value="3">Irmão(ã)</option>
												<option value="4">Avô(ó)</option>
												<option value="5">Neto(a)</option>
												<option value="6">Tio(a)</option>
												<option value="7">Primo(a)</option>
												<option value="8">Sobrinho(a)</option>
												<option value="9">Sem parentestico</option>
											</select>
											<p style="font-size:11.5px;color:#B78800" ng-if="(!isRes && vm.cliente.idRGp == '0')"><span class="glyphicon glyphicon-warning-sign"></span> Não foi selecionado o parentesco.</p>
										</div>
										
									</div>

								</div>
							
								<div class="row">
									
									<div class="col-lg-6 col-sm-6 col-xs-8">
										<div class="form-group">
											<label for="nmRep">Nome do Responsável</label>
											<input type="text" name="nmRep" ng-model="vm.cliente.nmRep" class="form-control" ng-maxlength="40">
											<p style="font-size:11.5px;color:#B78800" ng-if="(!isRes && (vm.cliente.nmRep == null || vm.cliente.nmRep == '') && (clienteForm.nmRep.$error.maxlength != true))"><span class="glyphicon glyphicon-warning-sign"></span> Não foi informado o nome do resposável.</p>
										</div>
									</div>
	
								</div>
								
								<div class="row">

									<div class="col-lg-2 col-sm-2 col-xs-8">
										<div class="form-group">
											<label for="nuIdR">RG</label>
											<input type="text" name="nuIdR" ng-model="vm.cliente.nuIdR" class="form-control" ui-mask="999.999.999-9">
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-3 col-xs-8" style="padding-left: 30px;" ng-show="vm.cliente.nuIdR > 0">
										<div class="form-group">
											<label for="dsRIE" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;" >Emissor</label>
											<input name="dsRIE" ng-model="vm.cliente.dsRIE" type="text" class="form-control">
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-3 col-xs-8" ng-show="vm.cliente.nuIdR > 0">
										<div class="form-group">
											
											<label for="idREU" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">UF</label>
									
											<select name="idREU" ng-model="vm.cliente.idREU" class="form-control">
											  <option value="0">Não Informado</option>
											  <option ng-repeat="item in vm.listaUF" value="{{item.id}}">{{item.ds}}</option>
											</select>

										</div>
									</div>

								</div>
								
								<div class="row">

									<div class="col-lg-2 col-sm-2 col-xs-8">
										<div class="form-group">
											<label for="nuRCp">CPF</label>
											<input name="nuRCp" ng-model="vm.cliente.nuRCp" ui-mask="999.999.999-99" type="text" class="form-control">
										</div>
									</div>

								</div>
								
							</div>
						
						</div>

					</tab>
					
					<tab ng-show="vm.cliente.isDef">
						
						<tab-heading>
							<i class="fa fa-wheelchair"></i> Deficiência
						</tab-heading>
						
						<div style="min-height:400px;">

							<div ng-show="vm.cliente.isDef">

								<div class="row row-form-titulo">
									
									<div class="col-lg-12 col-sm-12 col-xs-12"> 
										<div class="form-title form-titulo">
											<i class="fa fa-wheelchair fa-lg"></i>&nbsp;Deficiência
										</div>
									</div>	
									
								</div>
								
								<div class="row">

									<div class="col-lg-3 col-sm-6 col-xs-10">
												
										<div class="form-group">
											
											<label for="idDfc">Deficiência</label>
											<select name="idDfc" ng-model="vm.cliente.idDfc" class="form-control" tooltip="Informe o tipo de deficência que o paciente possui." tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
												<option value="0">Não Informado</option>
												<option value="1">Cegueira</option>
												<option value="2">Surdo</option>
											</select>
											<p style="font-size:11.5px;color:#B78800" ng-if="(!isDef && vm.cliente.idDfc == '0')"><span class="glyphicon glyphicon-warning-sign"></span> Não foi selecionada a deficiência.</p>
										</div>
										
									</div>

								</div>
								
								<div class="row">
									
									<div class="col-lg-6 col-sm-6 col-xs-8">
										<div class="form-group">
											<label for="dsDnc">Necessidades</label>
											<textarea name="dsDnc"  ng-model="vm.cliente.dsDnc" class="form-control" rows="5" id="comment"></textarea>
										</div>
									</div>
	
								</div>
								
							</div>
						
						</div>
						
					</tab>	
					
					<tab>
						
						<tab-heading>
							<i class="fa fa-phone-square"></i> Contato
						</tab-heading>
						
						<div style="min-height:400px;">

							<div class="row row-form-titulo">
								
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-phone-square fa-lg"></i>&nbsp;Contato
									</div>
								</div>	
								
							</div>

							<div class="row">		
								
								<div class="col-lg-3 col-sm-2 col-xs-4">
									<div class="form-group">
										<label for="nuCel"><i class="fa fa-mobile"></i>&nbsp;Celular</label>
										<input type="tel" name="nuCel" ng-model="vm.cliente.nuCel" ui-mask=" ( 99 ) 9 9999-9999" class="form-control" required >
									</div>
								</div>
								
								<div class="col-lg-3 col-sm-2 col-xs-10" style="padding-left: 30px;" ng-show="vm.cliente.nuCel.length > 0">
														
									<div class="form-group">
										
										<label for="idOCe" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Operadora</label>
										<select  name="idOCe" ng-model="vm.cliente.idOCe" class="form-control" tooltip="Selecione a operadora móvel do celular informado" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
										  <option value="0">Não Informado</option>
										  <option value="1">Claro</option>
										  <option value="2">Vivo</option>
										  <option value="3">OI</option>
										  <option value="4">TIM</option>
										  <option value="5">Nextel</option>
										</select>

									</div>
									
								</div>

							</div>
							
							<div class="row" style="margin-top:20px;">
								
								<div class="col-lg-3 col-sm-3 col-xs-4">
									<div class="form-group">
										<label for="nuTel"><i class="fa fa-phone red"></i>&nbsp;Telefone</label>
										<input type="tel" name="nuTel" ng-model="vm.cliente.nuTel" ui-mask="( 99 ) 9999-9999"  class="form-control" >
									</div>
								</div>
								
								<div class="col-lg-3 col-sm-4 col-xs-4" style="padding-left: 30px;" ng-show="vm.cliente.nuTel.length > 0">
									<div class="form-group">
										<label for="nmRTe" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Deixar recado com</label>
										<input type="text" name="nmRTe" ng-model="vm.cliente.nmRTe" class="form-control" maxlength="30">
									</div>
								</div>
								
							</div>
							
							<div class="row">
								
								<div class="col-lg-3 col-sm-2 col-xs-4">
									<div class="form-group">
										<label for="nuWap"><i class="fa fa-whatsapp green"></i>&nbsp;WhatsApp</label>
										<input type="tel" name="nuWap" ng-model="vm.cliente.nuWap" ui-mask="( 99 ) 9 9999-9999" class="form-control" >
									</div>
								</div>
								
							</div>
						
							<div class="row">				

								<div class="col-lg-6 col-sm-6 col-xs-8">

									<div class="form-group">
										<label for="dsEma"><i class="fa fa-envelope-o"></i>&nbsp;E-mail</label>
										<input type="email" name="dsEma" ng-model="vm.cliente.dsEma" class="form-control" placeholder="Ex. seu.paciente@i9mind.com" maxlength="40">
										<p style="font-size:11.5px;color:#B78800" ng-if="(vm.cliente.dsEma == null || vm.cliente.dsEma == '') && (clienteForm.dsEma.$error.email != true)"><span class="glyphicon glyphicon-warning-sign"></span> O e-mail é um importante campo a ser preenchido.</p>
									</div>
	
								</div>

							</div>
							
							<div class="row">				

								<div class="col-lg-6 col-sm-6 col-xs-8">

									<div class="form-group">
										<label for="dsOct" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Outros Contatos</label>
										<textarea name="dsOct"  ng-model="vm.cliente.dsOct" class="form-control" rows="2" id="dsOct"></textarea>
									</div>
	
								</div>

							</div>
						
						</div>
					
					</tab>
					
					<tab>
						
						<tab-heading>
							<i class="fa fa-home"></i> Endereço
						</tab-heading>
						
						<div style="min-height:400px;">

							<div class="row row-form-titulo">
									
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-globe fa-lg"></i>&nbsp;Endereço
									</div>
								</div>	
								
							</div>
							
							<div class="row">

								<div class="col-lg-6 col-sm-12 col-xs-12">
									<div class="form-group">
										<label for="vm.address">Localize o Endereço</label>		
										<input vs-google-autocomplete="vm.googleOptions" type="text" name="vm.address" ng-model="vm.address.name" vs-place="vm.address.place" id="address" class="form-control" style="border: 1px solid rgba(121, 172, 222, 0.6);color:#556680;">
										<p style="font-size:10px;color:rgba(105, 105, 107, 0.79);text-align:right"><a ng-click="vm.exibirBuscaCep()">ou buscar por CEP</a></p>
									</div>
								</div>
							
								<div class="col-lg-2 col-sm-2 col-xs-2" ng-show="vm.exibirCep">
																					
									<div class="form-group">
										<label for="pesqCep">Buscar CEP</label>
										<input type="text" focus-me="vm.shouldBeOpen" id="pesqCep" name="pesqCep" ng-model="vm.pesqCep" class="form-control" ui-mask="99999-999" style="border: 1px solid rgba(121, 172, 222, 0.6);color:#556680;">
									</div>
							
								</div>
								
								<div class="col-lg-2 col-sm-2 col-xs-2" ng-if="(vm.pesqCep.length == 8) && (vm.exibirCep)" style="padding-left: 3px;">
									<button ng-click="vm.carregarCep()" class="btn btn-default btn-xs" ng-autodisable style="font-weight:normal;font-size:11px;color:#5C5C5C;background-color:rgba(241, 241, 241, 0.21);margin-top: 25px;">&nbsp;<i class="fa fa-search"></i> Buscar</button>
								</div>
								
							</div>	

							<div class="row"  style="margin-top:10px;">

								<div class="col-lg-4 col-sm-4 col-xs-4">
									
									<div class="form-group">
										<label for="dsLog">Logradouro</label>												
										<input type="text" name="dsLog" ng-focus="vm.exibirCep" ng-model="vm.cliente.dsLog" class="form-control" placeholder="Ex: Nome da Rua, Avenida, Estrada.." maxlength="40" ng-minlength="5" ng-maxlength="40">
									</div>
									
								</div>		

								<div class="col-lg-2 col-sm-2 col-xs-1">
									
									<div class="form-group">
										<label for="nuLog">Numero</label>												
										<input type="text" name="nuLog" ng-model="vm.cliente.nuLog" class="form-control" maxlength="10">
										<p style="font-size:11.5px;color:#B78800" ng-if="(vm.cliente.dsLog != null && vm.cliente.dsLog != '') && (vm.cliente.nuLog == null || vm.cliente.nuLog == '')"><span class="glyphicon glyphicon-warning-sign"></span> Informar o numero.</p>
									</div>
									
								</div>		
								
								<div class="col-lg-4 col-sm-3 col-xs-2">
									
									<div class="form-group">
										<label for="dsLoC" style="color:rgba(105, 105, 107, 0.8);font-weight: normal;">Complemento | Ponto de Referência</label>												
										<input type="text" name="dsLoC" ng-model="vm.cliente.dsLoC" class="form-control" maxlength="70">
									</div>
									
								</div>	
								
							</div>

							<div class="row">
								
								<div class="col-lg-3 col-sm-4 col-xs-4">
																					
									<div class="form-group">
										<label for="dsBai">Bairro</label>
										<input type="text" name="dsBai" ng-model="vm.cliente.dsBai" class="form-control" maxlength="30">
									</div>
							
								</div>
								
								<div class="col-lg-3 col-sm-3 col-xs-3">
																					
									<div class="form-group">
										<label for="dsCid">Cidade</label>
										<input type="text" name="dsCid" ng-model="vm.cliente.dsCid" class="form-control" maxlength="30">
									</div>
							
								</div>
								
								<div class="col-lg-2 col-sm-2 col-xs-2">
																					
									<div class="form-group">
										<label for="dsEst">Estado</label>
										<input type="text" name="dsEst" ng-model="vm.cliente.dsEst" class="form-control" maxlength="30">
									</div>
							
								</div>
								
								<div class="col-lg-2 col-sm-2 col-xs-2">
																					
									<div class="form-group">
										<label for="dsPai">País</label>
										<input type="text" name="dsPai" ng-model="vm.cliente.dsPai" class="form-control" maxlength="20">
									</div>
							
								</div>
								
							</div>
			
							<div class="row">

								<div class="col-lg-2 col-sm-2 col-xs-2">
																					
									<div class="form-group">
										<label for="nuCep">CEP</label>
										<input type="text" name="nuCep" ng-model="vm.cliente.nuCep" ui-mask="99999-999" class="form-control" maxlength="10">
									</div>
							
								</div>
								
							</div>
							
						</div>
					
					</tab>
					
					<tab>
						
						<tab-heading>
							<i class="fa fa-pencil"></i> Anotações
						</tab-heading>
						
						<div style="min-height:400px;">

							<div class="row row-form-titulo">
									
								<div class="col-lg-12 col-sm-12 col-xs-12"> 
									<div class="form-title form-titulo">
										<i class="fa fa-pencil fa-lg"></i>&nbsp;Anotações
									</div>
								</div>	
								
							</div>

							<div class="row">
								
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label for="dsAt1">Informações Adicionais</label>
										<textarea name="dsAt1"  ng-model="vm.cliente.dsAt1" class="form-control" rows="5" id="comment"></textarea>
									</div>
								</div>

							</div>
							
							<div class="row">
								
								<div class="col-lg-12 col-sm-12 col-xs-12">
									<div class="form-group">
										<label for="dsAt2">Outras Informações</label>
										<textarea name="dsAt2"  ng-model="vm.cliente.dsAt2" class="form-control" rows="8" id="comment"></textarea>
									</div>
								</div>

							</div>

						</div>
						
					</tab>

				</tabset>

				<div class="row" style="margin-top:20px;">	

					<div class="col-xs-12 col-md-12">
						
						<div align="center">
							
							
							<a ui-sref="app.cliente" class="btn btn-md btn-default">
								<i class="fa fa-times"></i>&nbsp;Cancelar
							</a>
							
							<button ng-click="vm.exibirRemoverCliente()" ng-if="vm.isAlterar" data-ng-disabled="clienteForm.$invalid" class="btn btn-danger btn-md" ng-autodisable ><i class="fa fa-user-times"></i>&nbsp;Deletar</button>

							<button ng-click="vm.inserirCliente()" ng-if="!vm.isAlterar" data-ng-disabled="clienteForm.$invalid" class="btn btn-success btn-lg" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Cadastrar Paciente</button>
							
							<button ng-click="vm.atualizarCliente()" ng-if="vm.isAlterar"  class="btn btn-blue btn-lg" data-ng-disabled="((clienteForm.$invalid) || (clienteForm.$pristine))" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Alterar Paciente</button>
							
						</div>
						
					</div>
								
				</div>

			</div>
		
		</div>
	
	</form>
		
</widget>