﻿<widget id="1" name="Paciente: VICTOR MAIA SARRASQUEIRO">
						
	<div class="row">				

		<div class="col-lg-12 col-sm-12 col-xs-12">
			
			<div class="row">
			
				<div class="col-lg-12 col-sm-12 col-xs-12">

					<form name="pacienteCadForm" id="pacienteCadForm" method="POST">
					
						<tabset>
					
							<tab>
								
								<tab-heading>
									<i class="fa fa-home"></i> Principal
							    </tab-heading>
								
								<div class="row" style="margin-top:10px;">				
								
									<div class="col-lg-12 col-sm-12 col-xs-12">
									
										<div class="row">			

											<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">

												<div class="widget">
													
													<div class="widget-header" style="background-color:rgb(245, 245, 245);">
														
														<span class="widget-caption">Informações do Paciente</span>
								
														<div class="widget-buttons">
															&nbsp;<small>Evolução:</small>
															<div class="progress progress-bordered progress-striped active" style="width:150px;">
																<div class="progress-bar progress-bar-gray" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
																	<span class="sr-only">
																		20% Complete (success)
																	</span>
																</div>
															</div>
														</div>
														
													</div>
													
													<div class="widget-body">
														
														<div class="row">
															
															<div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
																<img src="img/victor.jpg" class="img-rounded img-responsive">
															</div>
															
															<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
																
																<div class="row">
																	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																		<h4>Victor Maia Sarrasqueiro</h4>
																	</div>
																</div>
																<div class="row">
																	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
																		25 anos,Analista de Sistemas
																	</div>
																</div>
																<div class="row" style="margin-top:4px;">	
																	<div class="col-lg-12 col-sm-12 col-xs-12">
																		<b>Endereço:</b> Rua Severiano Monteiro 364 Vista Alegre Rio de Janeiro RJ
																	</div>
																</div>
																<div class="row" style="margin-top:4px;">	
																	<div class="col-lg-12 col-sm-12 col-xs-12">
																		<b>Convênio:</b> Bradesco Saude | Nacional TOP
																	</div>
																</div>
																<div class="row" style="margin-top:4px;">	
																	<div class="col-lg-12 col-sm-12 col-xs-12">
																		<b>E-mail:</b> <i>victormaiasarrasqueiro@gmail.com</i>
																	</div>
																</div>
																<div class="row" style="margin-top:4px;">	
																	<div class="col-lg-4 col-sm-4 col-xs-4">
																		<i class="fa fa-whatsapp green"></i>&nbsp;&nbsp;(21) 9 99299-2720
																	</div>
																	<div class="col-lg-4 col-sm-4 col-xs-4">
																		<i class="fa fa-mobile"></i>&nbsp;&nbsp;(21) 9 99299-2720
																	</div>
																	<div class="col-lg-4 col-sm-4 col-xs-4">
																		<i class="fa fa-phone red"></i>&nbsp;&nbsp;(21) 3391-0817
																	</div>
																</div>
																<div class="row" style="margin-top:15px;" >	
																	<div class="col-lg-12 col-sm-12 col-xs-12">
																		<div align="left">
																			<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-success">
																				<i class="fa fa-check fa-lg"></i>
																				Iniciar Consulta
																			</a>
																			<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-xs btn-info">
																				<i class="fa fa-calendar fa-lg"></i>
																				Agendar
																			</a>
																			<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-xs btn-yellow">
																				<i class="fa fa-pencil"></i>
																				Editar
																			</a>
																		</div>
																	</div>
																</div>

															</div>
															
														</div>
														
														<div class="row" style="margin-top:20px;" >	
															
															<div class="col-lg-12 col-sm-12 col-xs-12">
								
																<div class="widget radius-bordered">
																	
																	<div class="widget-header">
																		
																		<span class="widget-caption">Anotações</span>
																		
																		<div class="widget-buttons ">
																			<ul class="pagination pagination-sm">
																				<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
																				<li><a href="#">2</a></li>
																				<li><a href="#">3</a></li>
																			</ul>
																		</div>
																		
																	</div>
																	
																	<div class="widget-body" style="height:300px;overflow-y: scroll;">
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
																	</div>
																	
																</div>
													
															</div>
															
														</div>
													
													</div>
													
												</div>

											</div>

											<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"  style="padding-right: 20px;">
											
												<div class="orders-container">
													
													<div class="orders-header " style="background-color:rgb(245, 245, 245);">
														<h6><i class="fa fa-calendar-o fa-lg"></i>&nbsp;&nbsp;Próximas Consultas</h6>
													</div>
													
													<ul class="orders-list">

														<li class="order-item">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">John Ford</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>Today 8th July</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">220</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
														<li class="order-item">
															
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">John Ford</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>Today 8th July</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">220</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
														<li class="order-item">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">Kim Basinger</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>Yesterday 7th July</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">400</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
														<li class="order-item">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">Steve Lewis</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>5th July</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">340</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
													</ul>
													
													<div class="orders-footer" style="background-color:rgb(245, 245, 245);">
														<a class="show-all" href=""><i class="fa fa-angle-down"></i> Mostrar Todos</a>
													</div>
													
												</div>
												
												<div class="orders-container">
													
													<div class="orders-header " style="background-color:rgb(245, 245, 245);">
														<h6><i class="fa fa-calendar-o fa-lg"></i>&nbsp;&nbsp;Ultimas Consultas</h6>
													</div>
													
													<ul class="orders-list">
														
														<li class="order-item top">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">Ned Stards</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>10 minutes ago</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">400</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
														<li class="order-item top">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">Steve Lewis</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>2 hours ago</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">620</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
														<li class="order-item top">
															<div class="row">
																<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 item-left">
																	<div class="item-booker">Steve Lewis</div>
																	<div class="item-time">
																		<i class="fa fa-calendar"></i>
																		<span>5th July</span>
																	</div>
																</div>
																<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 item-right">
																	<div class="item-price">
																		<span class="currency">$</span>
																		<span class="price">340</span>
																	</div>
																</div>
															</div>
															<a class="item-more" href="">
																<i></i>
															</a>
														</li>
														
													</ul>
													
													<div class="orders-footer" style="background-color:rgb(245, 245, 245);">
														<a class="show-all" href=""><i class="fa fa-angle-down"></i> Mostrar Todos</a>
													</div>
													
												</div>
												
											</div>
										
										</div>

									</div>	
								
								</div>

							</tab>
						
							<tab heading="Ficha">
								
								<tab-heading>
									<div ng-class="{ 'menu-vermelho': pacienteCadForm.$invalid && pacienteCadForm.$dirty }"><i class="fa fa-pencil-square-o"></i> Ficha</div>
							    </tab-heading>
								
								<div class="row" style="margin-top:10px;">				

									<div class="col-lg-12 col-sm-12 col-xs-12">
										
										<div class="row">
											
											<div class="col-lg-12 col-sm-12 col-xs-12">
												<div class="form-title">
													<div style="color:#0478ba;font-size:13.3px;font-weight:bold"><i class="fa fa-user fa-lg"></i>&nbsp;Informações Basicas</div>
												</div>
											</div>	
											
										</div>
								
										<div class="row">		
											
											<div class="col-lg-3 col-sm-3 col-xs-10">
												
												<div class="form-group" ng-class="{ 'has-error has-feedback': pacienteCadForm.primeiroNome.$invalid && pacienteCadForm.primeiroNome.$dirty }">
													<label for="primeiroNome">Nome</label>
													<input name="primeiroNome" ng-model="vm.paciente.primeiroNome" type="text" class="form-control" pattern="[a-zA-Z\s]+" required >
													<span ng-show="pacienteCadForm.primeiroNome.$invalid && pacienteCadForm.primeiroNome.$dirty" class="glyphicon glyphicon-remove form-control-feedback"></span>
													<p ng-show="pacienteCadForm.primeiroNome.$error.required &&  pacienteCadForm.primeiroNome.$dirty" class="help-block">Campo obrigatório</p>
													<p ng-show="pacienteCadForm.primeiroNome.$error.pattern  &&  pacienteCadForm.primeiroNome.$dirty" class="help-block">Numeros não são permitidos</p>
												</div>
												
											</div>
											
											<div class="col-lg-5 col-sm-5 col-xs-12">
												
												<div class="form-group" ng-class="{ 'has-error has-feedback': pacienteCadForm.ultimoNome.$invalid && pacienteCadForm.ultimoNome.$dirty }">
													<label for="ultimoNome">Sobrenome</label>
													<input name="ultimoNome" ng-model="vm.paciente.ultimoNome" type="text" class="form-control" pattern="[a-zA-Z\s]+" required >
													<span ng-if="pacienteCadForm.ultimoNome.$invalid && pacienteCadForm.ultimoNome.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
													<p ng-if="pacienteCadForm.ultimoNome.$error.required && pacienteCadForm.ultimoNome.$dirty" class="help-block">Campo obrigatório</p>
													<p ng-if="pacienteCadForm.ultimoNome.$error.pattern  && pacienteCadForm.ultimoNome.$dirty" class="help-block">Numeros não são permitidos</p>
												</div>
												
											</div>
											
											<div class="col-lg-2 col-sm-3 col-xs-8">
												<div class="form-group">
													<label for="rg">Data Cadastro</label>
													<input name="rg" ng-model="vm.paciente.rg" type="text" class="form-control" >
												</div>
											</div>
											
										</div>
									
										<div class="row">				
											
											<div class="col-lg-3 col-sm-3 col-xs-12">
												
												<div class="form-group" ng-class="{ 'has-error has-feedback': pacienteCadForm.dataNascimento.$invalid && pacienteCadForm.dataNascimento.$dirty }">
													
													<label for="dataNascimento">Nascimento</label>
													<input name="dataNascimento" ng-model="vm.paciente.dataNascimento" type="date" class="form-control" required >
													<span ng-if="pacienteCadForm.dataNascimento.$invalid && pacienteCadForm.dataNascimento.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
													<p ng-if="pacienteCadForm.dataNascimento.$error.required && pacienteCadForm.dataNascimento.$dirty" class="help-block">Campo obrigatório</p>
													<p ng-if="pacienteCadForm.dataNascimento.$error.date  && pacienteCadForm.dataNascimento.$dirty" class="help-block">Data Inválida</p>

												</div>
												
											</div>

											<div class="col-lg-2 col-sm-2 col-xs-10">
												
												<div class="form-group">
											
													<label for="sexo">Sexo</label>
													<select  name="sexo" ng-model="vm.paciente.sexo.id" class="form-control">
													  <option value="1">Não Informado</option>
													  <option value="2">Masculino</option>
													  <option value="3">Feminino</option>
													</select>

												</div>
											
											</div>
											
											<div class="col-lg-2 col-sm-3 col-xs-12">
												
												<div class="form-group">
											
													<label for="estadocivil">Estado Civil</label>
													<select  name="estadocivil" ng-model="vm.paciente.estadocivil.id" class="form-control">
													  <option value="1">Não Informado</option>
													  <option value="2">Solteiro</option>
													  <option value="3">Casado</option>
													  <option value="4">Viuvo</option>
													</select>

												</div>
												
											</div>
											
											<div class="col-lg-3 col-sm-3 col-xs-12">
												
												<div class="form-group">
											
													<label for="etnia">Etnia</label>
													<select  name="etnia" ng-model="vm.paciente.etnia.id" class="form-control">
													  <option value="1">Não Informado</option>
													  <option value="2">Branca / Caucasiana</option>
													  <option value="3">Negro</option>
													  <option value="4">Indio</option>
													</select>

												</div>
												
											</div>

										</div>	

										<div class="row" style="margin-top:20px;">				

											<div class="col-lg-3 col-sm-3 col-xs-12">
												
												<div class="form-group">
											
													<label for="escolaridade">Escolaridade</label>
													<select  name="escolaridade" ng-model="vm.paciente.escolaridade.id" class="form-control">
													  <option value="1">Não Informado</option>
													  <option value="2">Superior Completo</option>
													  <option value="3">Superior Cursando</option>
													  <option value="4">Mestrado</option>
													</select>

												</div>
												
											</div>

											<div class="col-lg-3 col-sm-3 col-xs-12">
												
												<div class="form-group">
											
													<label for="profissao">Prosissão</label>
													<select  name="profissao" ng-model="vm.paciente.profissao.id" class="form-control">
													  <option value="1">Não Informado</option>
													  <option value="2">Analista de Sistemas</option>
													  <option value="3">Operario</option>
													  <option value="4">Mecanico</option>
													</select>

												</div>
												
											</div>
											
											<div class="col-lg-4 col-sm-4 col-xs-8">
												<div class="form-group">
													<label for="rg">Empresa Atual</label>
													<input name="rg" ng-model="vm.paciente.rg" type="text" class="form-control" >
												</div>
											</div>

										</div>	
										
									</div>
		

								</div>	
								
								<div class="row" style="margin-top:30px;">
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										<div class="form-title">
											<div style="color:rgb(160, 160, 160);font-size:13.3px;font-weight:bold"><i class="fa fa-credit-card fa-lg"></i>&nbsp;Documentacao</div>
										</div>
									</div>	
									
								</div>

								<div class="row">
								
									<div class="col-lg-2 col-sm-2 col-xs-8">
										<div class="form-group">
											<label for="rg">RG</label>
											<input name="rg" ng-model="vm.paciente.rg" type="text" class="form-control" ui-mask="999.999.999-9">
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-10">
												
										<div class="form-group">
											
											<label for="rgTitular">Titular</label>
											<select  name="rgTitular" ng-model="vm.paciente.rgTitular" class="form-control" tooltip="Selecione se o seu paciente possuir algum tipo de convênio" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
											  <option value="1">Paciente</option>
											  <option value="2">Pai do Paciente</option>
											  <option value="3">Mãe do Paciente</option>
											  <option value="4">Parente de 2º Grau</option>
											  <option value="5">Responsável Legal</option>
											</select>

										</div>
										
									</div>
									
									<div class="col-lg-6 col-sm-6 col-xs-8">
										<div class="form-group">
											<label for="rgTitularNome">Nome do Titular</label>
											<input name="rgTitularNome" ng-model="vm.paciente.rgTitularNome" type="text" class="form-control">
										</div>
									</div>

								</div>
								
								<div class="row">

									<div class="col-lg-2 col-sm-2 col-xs-8">
										<div class="form-group">
											<label for="cpf">CPF</label>
											<input name="cpf" ng-model="vm.paciente.cpf" ui-mask="999.999.999-99" type="text" class="form-control">
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-10">
												
										<div class="form-group">
											
											<label for="cpfTitular">Titular</label>
											<select  name="cpfTitular" ng-model="vm.paciente.cpfTitular" class="form-control" tooltip="Selecione se o seu paciente possuir algum tipo de convênio" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
											  <option value="1">Paciente</option>
											  <option value="2">Pai do Paciente</option>
											  <option value="3">Mãe do Paciente</option>
											  <option value="4">Parente de 2º Grau</option>
											  <option value="5">Responsável Legal</option>
											</select>

										</div>
										
									</div>
									
									<div class="col-lg-6 col-sm-6 col-xs-8">
										<div class="form-group">
											<label for="cpfTitularNome">Nome do Titular</label>
											<input name="cpfTitularNome" ng-model="vm.paciente.cpfTitularNome" type="text" class="form-control">
										</div>
									</div>
									
								</div>
								
								<div class="row" style="margin-top:20px;">
									
									<div class="col-lg-2 col-sm-2 col-xs-10">
												
										<div class="form-group">
											
											<label for="convenio">Convenio</label>
											<select  name="convenio" ng-model="vm.paciente.convenio.id" class="form-control" tooltip="Selecione se o seu paciente possuir algum tipo de convênio" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
											  <option value="1">Sem Convenio</option>
											  <option value="2">Operadora</option>
											  <option value="3">Empresa</option>
											  <option value="4">Outros</option>
											</select>

										</div>
										
									</div>
									
									<div class="col-lg-3 col-sm-2 col-xs-10">
												
										<div class="form-group">
											
											<label for="operadora">Operadora</label>
											<select  name="operadora" ng-model="vm.paciente.operadora.id" class="form-control" tooltip="Selecione a operadora que o seu cliente é conveniado" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
											  <option value="1">Bradesco</option>
											  <option value="2">Unimed</option>
											  <option value="3">Sul America</option>
											  <option value="4">Porto Seguro</option>
											</select>

										</div>
										
									</div>
									
									<div class="col-lg-3 col-sm-3 col-xs-8">
										<div class="form-group">
											<label for="plano">Plano Contratado</label>
											<input name="plano" ng-model="vm.paciente.convenio.plano" type="text" class="form-control">
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-4">
										<div class="form-group">
											<label for="convenioNumero">Numero</label>
											<input name="convenioNumero" ng-model="vm.paciente.convenio.numero" type="text" class="form-control" >
										</div>
									</div>
									
								</div>
					
								<div class="row" style="margin-top:20px;">
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										<div class="form-title">
											<div style="color:rgb(160, 160, 160);font-size:13.3px;font-weight:bold"><i class="fa fa-phone-square fa-lg"></i>&nbsp;Contato</div>
										</div>
									</div>	
									
								</div>

								<div class="row">		
									
									<div class="col-lg-3 col-sm-2 col-xs-4">
										<div class="form-group" ng-class="{ 'has-error has-feedback': pacienteCadForm.celular.$invalid && pacienteCadForm.celular.$dirty }">
											<label for="celular"><i class="fa fa-mobile"></i>&nbsp;Celular</label>
											<input name="celular" ng-model="vm.paciente.celular" ui-mask=" ( 99 ) 9 9999-9999" type="tel" class="form-control" required >
											<span ng-if="pacienteCadForm.celular.$invalid && pacienteCadForm.celular.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<p ng-show="pacienteCadForm.celular.$error.required && pacienteCadForm.celular.$dirty " class="help-block">Campo obrigatório</p>
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-2 col-xs-4">
										<div class="form-group">
											<label for="whatsapp"><i class="fa fa-whatsapp green"></i>&nbsp;WhatsApp</label>
											<input name="whatsapp" ng-model="vm.paciente.whatsapp" ui-mask="(99) 9 9999-9999" type="tel" class="form-control" >
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-4">
										<div class="form-group">
											<label for="telefone"><i class="fa fa-phone red"></i>&nbsp;Telefone</label>
											<input name="telefone" ng-model="vm.paciente.telefone" ui-mask="(99) 9999-9999" type="tel" class="form-control" >
										</div>
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-4">
										<div class="form-group">
											<label for="recado">Recado</label>
											<input name="recado" ng-model="vm.paciente.recado" type="text" class="form-control" >
										</div>
									</div>

								</div>
							
								<div class="row">				

									<div class="col-lg-6 col-sm-6 col-xs-8">

										<div class="form-group" ng-class="{ 'has-error has-feedback': pacienteCadForm.email.$invalid && pacienteCadForm.email.$dirty }">
											<label for="email"><i class="fa fa-envelope-o"></i>&nbsp;E-mail</label>
											<input name="email" ng-model="vm.paciente.email" type="email" class="form-control" placeholder="pessoa@gmail.com ">
											<span ng-show="pacienteCadForm.email.$invalid && pacienteCadForm.email.$dirty" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
											<p ng-show="pacienteCadForm.email.$error.email  && pacienteCadForm.email.$dirty" class="help-block">E-mail inválido</p>
										</div>
		
									</div>
									
								</div>
								
								<div class="row">				

									<div class="col-lg-6 col-sm-6 col-xs-8">

										<div class="form-group">
											<label for="facebook"><i class="fa fa-facebook-official primary"></i>&nbsp;Perfil no Facebook</label>
											<input name="facebook" ng-model="vm.paciente.facebook" type="text" class="form-control">
										</div>
		
									</div>
									
								</div>
								
								<div class="row" style="margin-top:20px;">
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										<div class="form-title">
											<div style="color:rgb(160, 160, 160);font-size:13.3px;font-weight:bold"><i class="fa fa-globe fa-lg"></i>&nbsp;Endereco</div>
										</div>
									</div>	
									
								</div>
								
								<div class="row">
									
									<div class="col-lg-2 col-sm-2 col-xs-2">
										<div class="form-group">
											<label for="exampleInputEmail1">CEP</label>												
											<input type="text" ng-model="vm.paciente.cep" name="website" class="form-control" ui-mask="99999-999">
										</div>
									</div>
										
								</div>	
								
								<div class="row">

									<div class="col-lg-4 col-sm-4 col-xs-4">
										
										<div class="form-group">
											<label for="exampleInputEmail1">Logradouro</label>												
											<input type="text" ng-model="vm.paciente.endereco.logradouro" name="website" class="form-control" placeholder="Ex: Rua, Avenida, Estrada..">
										</div>
										
									</div>		
									
									<div class="col-lg-2 col-sm-2 col-xs-1">
										
										<div class="form-group">
											<label for="exampleInputEmail1">Numero</label>												
											<input type="text" ng-model="vm.paciente.endereco.numero" name="website" class="form-control">
										</div>
										
									</div>		
									
									<div class="col-lg-4 col-sm-4 col-xs-2">
										
										<div class="form-group">
											<label for="exampleInputEmail1">Complemento</label>												
											<input type="text" ng-model="vm.paciente.endereco.complemento" name="website" class="form-control" >
										</div>
										
									</div>	
									
								</div>

								<div class="row">
									
									<div class="col-lg-3 col-sm-4 col-xs-4">
																						
										<div class="form-group">
											<label for="exampleInputEmail1">Bairro</label>
											<select id="bairro" ng-model="vm.paciente.endereco.bairro.idBairro" style="width: 100%;" name="bairro">
												<option value="">Selecione</option>
												<option value="Coreia do Sul">Alimentos</option>
												<option value="Japan">Jogos e Binquedos</option>
												<option value="RU">Eletronicos</option>
												<option value="US">Eletrodomesticos</option>
												<option value="GB">Beleza e Saudr</option>                                                                   
											</select>
										</div>
								
									</div>
									
									<div class="col-lg-3 col-sm-3 col-xs-3">
																						
										<div class="form-group">
											<label for="exampleInputEmail1">Cidade</label>
											<select id="cidade" ng-model="vm.paciente.endereco.cidade.idCidade" style="width: 100%;" name="cidade">
												<option value="">Selecione</option>
												<option value="Coreia do Sul">Alimentos</option>
												<option value="Japan">Jogos e Binquedos</option>
												<option value="RU">Eletronicos</option>
												<option value="US">Eletrodomesticos</option>
												<option value="GB">Beleza e Saudr</option>                                                                   
											</select>
										</div>
								
									</div>

									<div class="col-lg-2 col-sm-2 col-xs-2">
																						
										<div class="form-group">
											<label for="estado">Estado</label>
											<select id="estado" ng-model="vm.paciente.endereco.estado.idEstado" style="width: 100%;" name="estado">
												<option value="">Selecione</option>
												<option value="Coreia do Sul">Alimentos</option>
												<option value="Japan">Jogos e Binquedos</option>
												<option value="RU">Eletronicos</option>
												<option value="US">Eletrodomesticos</option>
												<option value="GB">Beleza e Saudr</option>                                                                   
											</select>
										</div>
								
									</div>
									
									<div class="col-lg-2 col-sm-2 col-xs-2">
																						
										<div class="form-group">
											<label for="pais">País</label>
											<select id="pais" ng-model="vm.paciente.endereco.pais.idEstado" style="width: 100%;" name="estado">
												<option value="">Selecione</option>
												<option value="Coreia do Sul">Alimentos</option>
												<option value="Japan">Jogos e Binquedos</option>
												<option value="RU">Eletronicos</option>
												<option value="US">Eletrodomesticos</option>
												<option value="GB">Beleza e Saudr</option>                                                                   
											</select>
										</div>
								
									</div>
									
								</div>
								
								<div class="row" style="margin-top:20px;">
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										<div class="form-title">
											<div style="color:rgb(160, 160, 160);font-size:13.3px;font-weight:bold"><i class="fa fa-picture-o fa-lg"></i>&nbsp;Foto do Paciente</div>
										</div>
									</div>	
									
								</div>
								
								<div class="row">
									
									<div class="col-lg-2 col-sm-2 col-xs-2">
										<div class="form-group">
											<label for="exampleInputEmail1">Foto</label>												
											<input type="text" ng-model="foto" name="foto" class="form-control" >
										</div>
									</div>
										
								</div>	

							</tab>

							<tab select="vm.carregarAbaAgenda();">
								
								<tab-heading>
									<i class="fa fa-calendar"></i> Agenda
							    </tab-heading>

								<div class="row" style="margin-top:10px;">				
									
									<div class="col-lg-4 col-sm-4 col-xs-4">

										<div class="panel panel-default">
											
											<div class="panel-heading">
												<i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;Próximos Agendamentos
											</div>
											
											<div class="panel-body" style="padding:0px;">

												<div class="row" style="margin-top:5px;">				
													<div class="col-lg-12 col-sm-12 col-xs-12">
														
														<div style="margin:5px;"align="right">

															<button type="button" class="btn btn-warning btn-xs" data-ng-disabled="vm.listaPacienteSelecionado.length == 0" ng-click="vm.editarListaEventoSelecionado()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Alterar</button>
															<button type="button" class="btn btn-danger btn-xs" data-ng-disabled="vm.listaPacienteSelecionado.length == 0" ng-click="vm.excluirListaEventoSelecionado()"><span class="glyphicon glyphicon-trash"></span>&nbsp;Desmarcar</button>
															<a ui-sref="app.editarPaciente" class="btn btn-default btn-xs" ng-click="abc=!abc">
																<span class="glyphicon glyphicon-search blue" aria-hidden="true" ng-show="!abc"></span><span class="glyphicon glyphicon-eject blue" aria-hidden="true" ng-show="abc"></span>
															</a>
														</div>
										
													</div>		
												</div>
												
												<div class="row" style="margin:0px;" ng-show="abc">				
													
													<div class="col-lg-12 col-sm-12 col-xs-12" style="margin:0px;">
													
														<div class="input-group" style="margin-bottom: 0px;margin-top:15px;">
														  <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search blue" aria-hidden="true"></span></span>
														  <input type="text" ng-model="buscabusca.$" name="buscabusca" class="form-control" style="padding-left:10px;margin-bottom:0px;" placeholder="Busque uma consulta">
														</div>

													</div>
												</div>
												
												<div class="row" style="margin-top:10px;">			
													
													<div class="col-lg-12 col-sm-12 col-xs-12">
														
														<div style="margin:1px;max-height:400px;overflow:auto">
														
															<table class="table table-striped table-hover m-b-none text-medium">
																<thead>
																	
																	<tr>
																		<th width="5%" style="padding-top: 0px;padding-bottom: 0px;padding-left: 8px; padding-right: 0px; border-bottom-width: 0px;">
																			
																			<div class="checkbox checkbox" style="margin-bottom: 5px;">
																				<input id="checkboxMarcarTodos" type="checkbox" ng-model="vm.checkBoxMarcarTodos" ng-click="vm.marcarTodos()">
																				<label for="checkboxMarcarTodos">
																				</label>
																			</div>
																			
																		</th>
																		<th width="60%">Serviço</th>
																		<th width="35%">Horário</th>
																	</tr>
																	
																</thead>
																<tbody>

																	<tr  ng-repeat="evento in vm.listaEventoPacienteProximo | filter:buscabusca:strict track by $index" style="cursor:pointer" ng-click="vm.mostrarDataCalendarioProximo($index)">
																		
																		<td style="padding-top: 0px;">
																			<div class="checkbox checkbox-info">
																				<input id="checkbox{{$index}}" type="checkbox" ng-model="vm.listaEventoPacienteProximo[$index].selecionado">
																				<label for="checkbox{{$index}}">
																				</label>
																			</div>
																		</td>
																		
																		<td>{{evento.servico.nome}}</td>
																		<td style="font-size:11px;"><b>{{evento.start |  amDateFormat:'D MMMM' }}</b><br>{{evento.start |  amDateFormat:'dddd' }}<br>{{evento.start |  amDateFormat:'HH:mm' }} - {{evento.end |  amDateFormat:'HH:mm' }}</td>
																	
																	</tr>
																	
																	<tr  ng-repeat="evento in vm.listaEventoPacienteAnterior | orderBy: 'start':true | filter:buscabusca:strict track by $index" style="cursor:pointer;background-color:rgba(251, 188, 188, 0.28);" ng-click="vm.mostrarDataCalendarioAnterior($index)">
																		
																		<td style="padding-top: 0px;">
																			<div class="checkbox checkbox-info">
																				<input id="checkbox-off{{$index}}" type="checkbox" disabled="disabled">
																				<label for="checkbox-off{{$index}}">
																				</label>
																			</div>
																		</td>
																		
																		<td>{{evento.servico.nome}}</td>
																		<td style="font-size:11px;"><b>{{evento.start |  amDateFormat:'D MMMM' }}</b><br>{{evento.start |  amDateFormat:'dddd' }}<br>{{evento.start |  amDateFormat:'HH:mm' }} - {{evento.end |  amDateFormat:'HH:mm' }}</td>
																	
																	</tr>
																	
																</tbody>
																
															</table>
										
														</div>
											
													</div>
												</div>

											</div>
											
										</div>

									</div>
									
									<div class="col-lg-8 col-sm-8 col-xs-8">
										
										<div class="panel panel-default">
										<div class="panel-heading"><i class="fa fa-calendar fa-lg"></i>&nbsp;Agenda do Paciente</div>
											
											<div class="panel-body">

												<div class="row" style="margin-top:5px;">				
													<div class="col-lg-12 col-sm-12 col-xs-12">
														<div id="calendarAgendaPaciente" calendar="calendarAgendaPaciente" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"></div>
													</div>	
												</div>

											</div>
											
										</div>

									</div>	
									
								</div>
								fvfdvfdvfdv
								<div>
											       <select  name="diaSemanaSelecionada" ng-model="vm.diaSemanaSelecionada" class="form-control" ng-change="vm.calcularListaProximoHorarioDisponivel()">
													  <option value="-1">Qualquer dia</option>
													  <option value="0">Domingo</option>
													  <option value="1">Segunda</option>
													  <option value="2">Terça</option>
													  <option value="3">Quarta</option>
													  <option value="4">Quinta</option>
													  <option value="5">Sexta</option>
													  <option value="6">Sábado</option>
													</select>
													
													
							<p class="input-group">
								<input type="text" class="form-control" ng-model="vm.dataInicio" is-open="open.dataInicio" datetime-picker="HH:mm"  enable-date="false" timepicker-options="timeOptions" readonly="true" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataInicio')"><i class="fa fa-clock-o"></i></button>
								</span>
							</p>
							
							<p class="input-group">
								<input type="text" class="form-control" ng-model="vm.dataFim" is-open="open.dataFim" datetime-picker="HH:mm"  enable-date="false" timepicker-options="timeOptions" readonly="true" />
								<span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataFim')"><i class="fa fa-clock-o"></i></button>
								</span>
							</p>
													
									<table>
									
										<tr ng-repeat="v in vm.listaProximoHorarioDisponivel">
											<td>{{v |  amDateFormat:'DD/MM/YY dddd HH:mm' }}</td>
										</tr>
									
									</table>
								
								</div>
								ccfcdfvdfvdf
							</tab>
							
						
							<tab>
								
								<tab-heading>
									<i class="fa fa-calculator"></i> Financeiro
							    </tab-heading>
								
								<div class="row" style="margin-top:10px;">				
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										
										<fieldset>

											<div class="form-group col-sm-3" style="margin-top: 7px;margin-bottom: 7px;">
												<select class="form-control ng-valid ng-dirty" ng-model="interval" ng-options="opt.label for opt in intervals" style="" placeholder="Serviço">
													<option value="0">Este Mês</option>
													<option value="1">Mês passado</option>
													<option value="2">Últimos 30 dias</option>
													<option value="3">Esta semana</option>
													<option value="4">Semana passada</option>
													<option value="5">Outro intervalo</option>
												</select>
											</div>
											
											<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
												<span class="pull-left" style="padding-top:5px">de:</span>
												<div class="input-group date ng-isolate-scope ng-pristine ng-valid ng-valid-required" ng-model="anotherDates.startDate" required="required" name="startDate" picktime="false" style="width:80%;margin-left:25px">
													<input class="form-control" tabindex="2"> 
													<span class="input-group-addon">
														<span class="glyphicon-calendar glyphicon"></span>
													</span>
												</div>
											</div>

											<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
												<span class="pull-left" style="padding-top:5px">a:&nbsp;&nbsp;</span>
												<div class="input-group date ng-isolate-scope ng-pristine ng-valid ng-valid-required" ng-model="anotherDates.endDate" required="required" name="endDate" picktime="false">
													<input class="form-control" tabindex="2"> 
													<span class="input-group-addon">
														<span class="glyphicon-calendar glyphicon"></span>
													</span>
												</div>
											</div>

											<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
												<button class="btn btn-default" ng-click="showReport()">Filtrar</button>
											</div>

										</fieldset>

										<div class="row" style="margin-top:10px;">			
											
											<div class="col-lg-12 col-sm-12 col-xs-12">
												
												<div style="margin:1px;max-height:400px;overflow:auto">
												
													<table class="table table-striped table-bordered table-hover m-b-none text-medium">
														<thead>

															<tr>
																<th  width="10%">Data</th>
																<th  width="20%">Serviço</th>
																<th  width="20%">Profissional</th>
																<th  width="10%">Valor Pago</th>
																<th  width="35%">&nbsp;</th>	
															</tr>

															
														</thead>
														<tbody>

															<tr  ng-repeat="evento in vm.listaEventoPacienteProximo | filter:buscabusca:strict track by $index" style="cursor:pointer" ng-click="vm.mostrarDataCalendarioProximo($index)">
																<td>{{evento.start |  amDateFormat:'DD/MM/YY' }}</td>
																<td>{{evento.servico.nome}}</td>
																<td>Victor Sarrasqueiro</td>
																<td><div style="color:green">50,00 <i class="fa fa-check-square"></i></div></td>
																<td></td>
															</tr>
					
														</tbody>
														
													</table>
													
													{{lista}}
													
												</div>
									
											</div>
										</div>

									</div>	
								
								</div>

							</tab>

						</tabset>
					
					</form>
					
				</div>
			
			</div>
			
		</div>

	</div>

</widget>


