﻿<widget id="1" name="Gerênciar Cliente" complemento=" - {{vm.cliente.nmCli}}">
						
	<form name="clienteForm" role="form">

		<div class="row row-top-pagina">				

			<div class="col-lg-12 col-sm-12 col-xs-12">
					
				<tabset>
			
					<tab>
						
						<tab-heading>
							<i class="fa fa-home"></i> Inicio
						</tab-heading>
						
						<div class="row" style="margin-top:5px;">				
						
							<div class="col-lg-12 col-sm-12 col-xs-12">

								<div class="panel panel-default">
									
									<div class="panel-heading">
										Informações do Paciente   
									</div>
									
									<div class="panel-body">
										
										<div class="row">

											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												
												<div class="row">
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
														<h4 style="font-weight:bold;margin-top: 7px;">&nbsp;{{vm.cliente.nmCli | uppercase}}</h4>
													</div>
												</div>

												<div class="row" style="margin-top:3px;">
													
													<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">											
														
														<uib-accordion close-others="true">
															
															<uib-accordion-group is-open="vm.statusAcord.isOpen">
																
																<uib-accordion-heading>
																<i class="fa fa-user"></i>&nbsp;Informações Basicas
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr ng-if="vm.cliente.dtNas != null" style="padding:0px;">
																			<td width="25%" class="form-acord-col-title">Nascimento</td>
																			<td width="75%">{{vm.cliente.dtNas |  amDateFormat:'D/MM/YYYY'}}&nbsp;&nbsp;( {{vm.cliente.idade}} anos )</td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.tpSex != null && vm.cliente.tpSex != 0">
																			<td class="form-acord-col-title">Sexo</td>
																			<td><span ng-if="vm.cliente.tpSex == 1">Masculino</span><span ng-if="vm.cliente.tpSex == 2">Feminino</span></td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.nuIde != null && vm.cliente.nuIde != 0">
																			<td class="form-acord-col-title">RG</td>
																			<td>{{vm.cliente.nuIde}}</td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.nuCel != null && vm.cliente.nuCel != 0">
																			<td class="form-acord-col-title"><i class="fa fa-mobile"></i>&nbsp;Celular</td>
																			<td>{{vm.cliente.nuCel}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Indicativos</td>
																			<td>O paciente <span ng-if="vm.cliente.isRes" style="font-weight:bold">possui responsável</span><span ng-if="!vm.cliente.isRes" style="font-weight:bold">não possui reponsável</span>&nbsp;&nbsp;e&nbsp;&nbsp;<span ng-if="vm.cliente.isDef" style="font-weight:bold">possui deficiência</span><span style="font-weight:bold" ng-if="!vm.cliente.isDef">não possui deficiência</span></td>
																		</tr>
							
																	</table>

															</uib-accordion-group>
															
															<uib-accordion-group>
																
																<uib-accordion-heading>
																	<i class="fa fa-credit-card"></i> Documentação
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr ng-if="vm.cliente.nuIde != null && vm.cliente.nuIde != 0">
																			<td width="25%" class="form-acord-col-title">RG</td>
																			<td width="75%"><span>{{vm.cliente.nuIde}}</span>&nbsp;<span ng-if="vm.cliente.dsOER != null"> - {{vm.cliente.dsOER}}</span>&nbsp;<span ng-if="vm.cliente.idOEU != null && vm.cliente.idOEU != 0"> - {{vm.cliente.idOEU}}</span></td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.nuCpf != null && vm.cliente.nuCpf != 0">
																			<td class="form-acord-col-title">CPF</td>
																			<td><span>{{vm.cliente.nuCpf}}</span></td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.tpECi != null && vm.cliente.tpECi != 0">
																			<td class="form-acord-col-title">Estado Civíl</td>
																			<td><span>{{vm.cliente.tpECi}}</span></td>
																		</tr>
																		
																		<tr ng-if="vm.cliente.tpCon != null && vm.cliente.tpCon != 0">
																			<td class="form-acord-col-title">Convênio</td>
																			<td><span>{{vm.cliente.tpCon}}</span></td>
																		</tr>
																									
																	</table>
																
															</uib-accordion-group>
															
															<uib-accordion-group ng-if="vm.cliente.isRes">
																
																<uib-accordion-heading>
																	<i class="fa fa-male"></i> Responsável
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr>
																			<td width="25%" class="form-acord-col-title">Grau de Parentesco</td>
																			<td width="75%"><span>{{vm.cliente.idRGp}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Nome do Responsável</td>
																			<td><span>{{vm.cliente.nmRep}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">RG</td>
																			<td><span>{{vm.cliente.nuIdR}}</span>&nbsp;<span ng-if="vm.cliente.dsRIE != null"> - {{vm.cliente.dsRIE}}</span>&nbsp;<span ng-if="vm.cliente.idREU != null && vm.cliente.idREU != 0"> - {{vm.cliente.idREU}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">CPF</td>
																			<td><span>{{vm.cliente.nuRCp}}</span></td>
																		</tr>
																								
																	</table>
																
															</uib-accordion-group>
															
															<uib-accordion-group ng-if="vm.cliente.isDef">
																
																<uib-accordion-heading>
																	<i class="fa fa-wheelchair"></i> Deficiência
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr>
																			<td width="25%" class="form-acord-col-title">Deficiência</td>
																			<td width="75%"><span>{{vm.cliente.idDfc}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Necessidades</td>
																			<td><span>{{vm.cliente.dsDnc}}</span></td>
																		</tr>
													
																	</table>
																
															</uib-accordion-group>
															
															<uib-accordion-group>
																
																<uib-accordion-heading>
																	<i class="fa fa-phone-square"></i> Contato
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr>
																			<td width="25%" class="form-acord-col-title"><i class="fa fa-mobile"></i>&nbsp;&nbsp;Celular</td>
																			<td width="75%"><span>{{vm.cliente.nuCel}}</span><span ng-if="vm.cliente.idOCe != null && vm.cliente.idOCe != 0"> - Operadora: {{vm.cliente.idOCe}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title"><i class="fa fa-phone red"></i>&nbsp;Telefone</td>
																			<td><span>{{vm.cliente.nuTel}}</span><span ng-if="vm.cliente.nmRTe != null"> - Deixar recado com: {{vm.cliente.nmRTe}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title"><i class="fa fa-whatsapp green"></i>&nbsp;WhatsApp</td>
																			<td><span>{{vm.cliente.nuWap}}</span></td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title"><i class="fa fa-envelope-o"></i>&nbsp;E-mail</td>
																			<td><span>{{vm.cliente.dsEma}}</span></td>
																		</tr>
													
																	</table>
																
															</uib-accordion-group>
															
															<uib-accordion-group>
																
																<uib-accordion-heading>
																	<i class="fa fa-home"></i> Endereço
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr>
																			<td width="25%" class="form-acord-col-title">Logradouro</td>
																			<td width="75%">{{vm.cliente.dsLog}} {{vm.cliente.nuLog}} {{vm.cliente.dsLoC}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Bairro</td>
																			<td>{{vm.cliente.dsBai}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Cidade</td>
																			<td>{{vm.cliente.dsCid}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Estado</td>
																			<td>{{vm.cliente.dsEst}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">País</td>
																			<td>{{vm.cliente.dsPai}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">CEP</td>
																			<td>{{vm.cliente.nuCep}}</td>
																		</tr>
																	
																	</table>
																
															</uib-accordion-group>
															
															<uib-accordion-group>
																
																<uib-accordion-heading>
																	<i class="fa fa-pencil"></i> Anotações
																</uib-accordion-heading>
																
																	<table class="table table-bordered" style="font-size:12px;">
																								
																		<tr>
																			<td width="25%" class="form-acord-col-title">Informações Adicionais</td>
																			<td width="75%">{{vm.cliente.dsAt1}}</td>
																		</tr>
																		
																		<tr>
																			<td class="form-acord-col-title">Outras Informações</td>
																			<td>{{vm.cliente.dsAt2}}</td>
																		</tr>
								
																	</table>
																
															</uib-accordion-group>

														</uib-accordion>
																									
													</div>
													
												</div>										

												<div class="row">	
													<div class="col-lg-12 col-sm-12 col-xs-12">
														<div align="left">
															<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-success">
																<i class="fa fa-check fa-lg"></i>
																Iniciar Atendimento
															</a>
															<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-xs btn-info">
																<i class="fa fa-calendar fa-lg"></i>
																Agendar Atendimento
															</a>
															<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-xs btn-yellow">
																<i class="fa fa-pencil"></i>
																Editar Informações
															</a>
														</div>
													</div>
												</div>

											</div>
											
										</div>

									</div>
									
								</div>

							</div>	
						
						</div>

					</tab>

					<tab select="vm.carregarAbaAgenda();">
						
						<tab-heading>
							<i class="fa fa-calendar"></i> Agenda
						</tab-heading>

						<div class="row" style="margin-top:5px;">				
							
							<div class="col-lg-4 col-sm-4 col-xs-4">

								<div class="panel panel-default">
									
									<div class="panel-heading">
										<i class="fa fa-pencil-square-o fa-lg"></i>&nbsp;&nbsp;Próximos Agendamentos
									</div>
									
									<div class="panel-body" style="padding:0px;">

										<div class="row" style="margin-top:5px;">				
											<div class="col-lg-12 col-sm-12 col-xs-12">
												
												<div style="margin:5px;"align="right">

													<button type="button" class="btn btn-warning btn-xs" data-ng-disabled="vm.listaPacienteSelecionado.length == 0" ng-click="vm.editarListaEventoSelecionado()"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Alterar</button>
													<button type="button" class="btn btn-danger btn-xs" data-ng-disabled="vm.listaPacienteSelecionado.length == 0" ng-click="vm.excluirListaEventoSelecionado()"><span class="glyphicon glyphicon-trash"></span>&nbsp;Desmarcar</button>
													<a ui-sref="app.editarPaciente" class="btn btn-default btn-xs" ng-click="abc=!abc">
														<span class="glyphicon glyphicon-search blue" aria-hidden="true" ng-show="!abc"></span><span class="glyphicon glyphicon-eject blue" aria-hidden="true" ng-show="abc"></span>
													</a>
												</div>
								
											</div>		
										</div>
										
										<div class="row" style="margin:0px;" ng-show="abc">				
											
											<div class="col-lg-12 col-sm-12 col-xs-12" style="margin:0px;">
											
												<div class="input-group" style="margin-bottom: 0px;margin-top:15px;">
												  <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-search blue" aria-hidden="true"></span></span>
												  <input type="text" ng-model="buscabusca.$" name="buscabusca" class="form-control" style="padding-left:10px;margin-bottom:0px;" placeholder="Busque uma consulta">
												</div>

											</div>
										</div>
										
										<div class="row" style="margin-top:10px;">			
											
											<div class="col-lg-12 col-sm-12 col-xs-12">
												
												<div style="margin:1px;max-height:400px;overflow:auto">
													
													<table class="table table-striped table-hover m-b-none text-medium">
														
														<thead>
															
															<tr>
																<th width="5%" style="padding-top: 0px;padding-bottom: 0px;padding-left: 8px; padding-right: 0px; border-bottom-width: 0px;">
																	
																	<div class="checkbox checkbox" style="margin-bottom: 5px;">
																		<input id="checkboxMarcarTodos" type="checkbox" ng-model="vm.checkBoxMarcarTodos" ng-click="vm.marcarTodosCombobox()">
																		<label for="checkboxMarcarTodos">
																		</label>
																	</div>
																	
																</th>
																<th width="60%">Serviço</th>
																<th width="35%">Horário</th>
															</tr>
															
														</thead>
														<tbody>

															<tr  ng-repeat="evento in vm.listaEventoCliente | filter:buscabusca:strict track by $index" style="cursor:pointer" ng-click="vm.selecionarData($index)">
																
																<td style="padding-top: 0px;">
																	<div class="checkbox checkbox-info">
																		<input id="checkbox{{$index}}" type="checkbox" ng-model="vm.listaEventoCliente[$index].selecionado">
																		<label for="checkbox{{$index}}">
																		</label>
																	</div>
																</td>
																
																<td>{{evento.servico.nome}}</td>
																<td style="font-size:11px;"><b>{{evento.start |  amDateFormat:'D MMMM' }}</b><br>{{evento.start |  amDateFormat:'dddd' }}<br>{{evento.start |  amDateFormat:'HH:mm' }} - {{evento.end |  amDateFormat:'HH:mm' }}</td>
															
															</tr>
														
														</tbody>
														
													</table>
								
												</div>
									
											</div>
										</div>

									</div>
									
								</div>

							</div>
							
							<div class="col-lg-8 col-sm-8 col-xs-8" style="padding-left:0px;">
								
								<div class="panel panel-default">
								<div class="panel-heading"><i class="fa fa-calendar fa-lg"></i>&nbsp;Agenda do Paciente</div>
									
									<div class="panel-body" style="padding-top:0px;padding-left:4px;padding-right:3px;padding-bottom:3px;">

										<div class="row" style="margin-top:5px;">				
											
											<div class="col-lg-12 col-sm-12 col-xs-12">
												
												<div style="margin:5px;"align="right">

													<a id="editabledatatable_new" href="javascript:novoFabricante();" class="btn btn-xs btn-info">
														<i class="fa fa-calendar fa-lg"></i>
														Agendar Atendimento
													</a>
													
												</div>
								
											</div>		
										</div>
										
										<div class="row" style="margin-top:5px;">				
											<div class="col-lg-12 col-sm-12 col-xs-12">
												
												<div id="calendarAgendaPaciente" calendar="calendarAgendaPaciente" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"></div>
											
											</div>	
										</div>

									</div>
									
								</div>

							</div>	
							
						</div>
						
						<div>
										   <select  name="diaSemanaSelecionada" ng-model="vm.diaSemanaSelecionada" class="form-control" ng-change="vm.calcularListaProximoHorarioDisponivel()">
											  <option value="-1">Qualquer dia</option>
											  <option value="0">Domingo</option>
											  <option value="1">Segunda</option>
											  <option value="2">Terça</option>
											  <option value="3">Quarta</option>
											  <option value="4">Quinta</option>
											  <option value="5">Sexta</option>
											  <option value="6">Sábado</option>
											</select>
											
											
					<p class="input-group">
						<input type="text" class="form-control" ng-model="vm.dataInicio" is-open="open.dataInicio" datetime-picker="HH:mm"  enable-date="false" timepicker-options="timeOptions" readonly="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataInicio')"><i class="fa fa-clock-o"></i></button>
						</span>
					</p>
					
					<p class="input-group">
						<input type="text" class="form-control" ng-model="vm.dataFim" is-open="open.dataFim" datetime-picker="HH:mm"  enable-date="false" timepicker-options="timeOptions" readonly="true" />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataFim')"><i class="fa fa-clock-o"></i></button>
						</span>
					</p>
											
							<table>
							
								<tr ng-repeat="v in vm.listaProximoHorarioDisponivel">
									<td>{{v |  amDateFormat:'DD/MM/YY dddd HH:mm' }}</td>
								</tr>
							
							</table>
						
						</div>
					
					</tab>
					
				
					<tab>
						
						<tab-heading>
							<i class="fa fa-calculator"></i> Financeiro
						</tab-heading>
						
						<div class="row" style="margin-top:5px;">				
							
							<div class="col-lg-12 col-sm-12 col-xs-12">
								
								<fieldset>

									<div class="form-group col-sm-3" style="margin-top: 7px;margin-bottom: 7px;">
										
										<select class="form-control ng-valid ng-dirty" ng-model="interval" ng-options="opt.label for opt in intervals" style="" placeholder="Serviço">
											<option value="0">Este Mês</option>
											<option value="1">Mês passado</option>
											<option value="2">Últimos 30 dias</option>
											<option value="3">Esta semana</option>
											<option value="4">Semana passada</option>
											<option value="5">Outro intervalo</option>
										</select>
										
									</div>
									
									<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
										<span class="pull-left" style="padding-top:5px">de:</span>
										<div class="input-group date ng-isolate-scope ng-pristine ng-valid ng-valid-required" ng-model="anotherDates.startDate" required="required" name="startDate" picktime="false" style="width:80%;margin-left:25px">
											<input class="form-control" tabindex="2"> 
											<span class="input-group-addon">
												<span class="glyphicon-calendar glyphicon"></span>
											</span>
										</div>
									</div>

									<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
										<span class="pull-left" style="padding-top:5px">a:&nbsp;&nbsp;</span>
										<div class="input-group date ng-isolate-scope ng-pristine ng-valid ng-valid-required" ng-model="anotherDates.endDate" required="required" name="endDate" picktime="false">
											<input class="form-control" tabindex="2"> 
											<span class="input-group-addon">
												<span class="glyphicon-calendar glyphicon"></span>
											</span>
										</div>
									</div>

									<div class="form-group col-sm-2" style="margin-top: 7px;margin-bottom: 7px;">
										<button class="btn btn-default" ng-click="showReport()">Filtrar</button>
									</div>

								</fieldset>

								<div class="row" style="margin-top:10px;">			
									
									<div class="col-lg-12 col-sm-12 col-xs-12">
										
										<div style="margin:1px;max-height:400px;overflow:auto">
										
											<table class="table table-striped table-bordered table-hover m-b-none text-medium">
												<thead>

													<tr>
														<th  width="10%">Data</th>
														<th  width="20%">Serviço</th>
														<th  width="20%">Profissional</th>
														<th  width="10%">Valor Pago</th>
														<th  width="35%">&nbsp;</th>	
													</tr>

													
												</thead>
												<tbody>

													<tr  ng-repeat="evento in vm.listaEventoCliente | filter:buscabusca:strict track by $index" style="cursor:pointer" ng-click="vm.mostrarDataCalendarioProximo($index)">
														<td>{{evento.start |  amDateFormat:'DD/MM/YY' }}</td>
														<td>{{evento.servico.nome}}</td>
														<td>Victor Sarrasqueiro</td>
														<td><div style="color:green">50,00 <i class="fa fa-check-square"></i></div></td>
														<td></td>
													</tr>
			
												</tbody>
												
											</table>
											
										</div>
							
									</div>
								</div>

							</div>	
						
						</div>

					</tab>

				</tabset>

			</div>
	
		</div>
	
	</form>

</widget>


