﻿<div class="panel panel-default">
	
	<div class="panel-heading"><span class="glyphicon glyphicon-pencil"></span> Alterar Consultas<button ng-click="vm.cancelar()" type="button" class="close" ><span>&times;</span></button></div>
	
	<div class="panel-body">
		
		<div class="row">

			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h4>O que você gostaria de alterar?</h4>
			</div>
			
		</div>
		
		<div class="row">

			<div class="col-lg-12 col-sm-12 col-xs-12">
				
				<div style="margin:1px;height:200px;overflow:auto">
				
					<table class="table table-striped table-bordered table-condensed table-responsive">
						
						<thead>
							
							<tr>
								<th width="30%">Serviço</th>
								<th width="20%">Profissional</th>
								<th width="30%">Data|Hora</th>
								<th width="20%">Anotação</th>
								
							</tr>
							
						</thead>
						
						<tbody>

							<tr ng-repeat="evento in vm.listaExcluir | orderBy: 'start':false track by $index">
								
								<td style="vertical-align:middle">
								
									<select name="servico" id="servico" ng-options="option.nome for option in vm.listaServico track by option.id" ng-model="evento.servico"></select>
								
								</td>
								
								
								<td style="vertical-align:middle">
								
									<select name="profissional" id="profissional" ng-options="(option.nome + ' ' + option.sobrenome) for option in vm.listaProfissional track by option.id" ng-model="evento.profissional"></select>
								
								</td>
								
								<td style="vertical-align:middle">{{evento.title}}</td>
								<td style="vertical-align:middle">{{evento.start |  amDateFormat:'HH:mm' }} - {{evento.end |  amDateFormat:'HH:mm' }}</td>

							</tr>

						</tbody>
						
					</table>
					
				</div>

			</div>
			
		</div>

	</div>
	
	<div class="panel-footer">
	
		<div align="center">
		
			<button ng-click="vm.cancelar()" ng-autodisable  class="btn btn-default btn-md" ><i class="fa fa-times"></i>&nbsp;cancelar</button>
			<button ng-click="vm.alterar()"  ng-autodisable  class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-trash"></span>&nbsp;Atualizar Consultas</button>
		
		</div>
		
	</div>
	
</div>