﻿<div class="panel panel-default">
	
	<div class="panel-heading"><span class="glyphicon glyphicon-trash"></span> Desmarcar Consultas<button ng-click="vm.cancelar()" type="button" class="close" ><span>&times;</span></button></div>
	
	<div class="panel-body">
		
		<div class="row">

			<div class="col-lg-12 col-sm-12 col-xs-12">
				<h4 ng-show="vm.listaExcluir.length > 1">Você realmente deseja desmarcar as {{vm.listaExcluir.length}} consultas abaixo?</h4>
				<h4 ng-show="vm.listaExcluir.length == 1">Você realmente deseja desmarcar a consulta abaixo?</h4>
			</div>
			
		</div>
		
		<div class="row">

			<div class="col-lg-12 col-sm-12 col-xs-12">
				
				<div style="margin:1px;height:200px;overflow:auto">
				
					<table class="table table-striped table-bordered table-condensed table-responsive">
						
						<thead>
							
							<tr>
								<th width="5%" ng-show="vm.listaExcluir.length > 1">&nbsp;</th>
								<th width="65%">Consulta</th>
								<th width="15%">Dia</th>
								<th width="15%">Hora</th>
							</tr>
							
						</thead>
						
						<tbody>

							<tr ng-repeat="evento in vm.listaExcluir | orderBy: 'start':false track by $index">
								
								<td align="center" ng-show="vm.listaExcluir.length > 1" style="vertical-align:middle">
									<a ui-sref="app.editarPaciente" class="btn btn-default btn-xs"  ng-click="vm.removerItemListaExcluir($index);" tooltip="Retire esta consulta da lista de desmarcamento" tooltip-placement="left" tooltip-trigger="mouseenter" tooltip-enable="!inputModel">
										<span class="glyphicon glyphicon-remove red"></span>
									</a>
								</td>
								<td style="vertical-align:middle">{{evento.title}}</td>
								<td style="vertical-align:middle">{{evento.start |  amDateFormat:'D MMMM' }}</td>
								<td style="vertical-align:middle">{{evento.start |  amDateFormat:'HH:mm' }} - {{evento.end |  amDateFormat:'HH:mm' }}</td>
							
							</tr>

						</tbody>
						
					</table>
					
				</div>

			</div>
			
		</div>

	</div>
	
	<div class="panel-footer">
	
		<div align="center">
		
			<button ng-click="vm.cancelar()" ng-autodisable  class="btn btn-default btn-md" ><i class="fa fa-times"></i>&nbsp;NÃO, cancelar</button>
			<button ng-click="vm.excluir()"  ng-autodisable  class="btn btn-danger btn-md" ><span class="glyphicon glyphicon-trash"></span>&nbsp;SIM, desmarcar consultas</button>
		
		</div>
		
	</div>
	
</div>