<widget id="1" name="Pacientes" btn-save="false">
						
	<div class="row">				

		<div class="col-lg-12 col-sm-12 col-xs-12">
			
			<div align="right">
				
				<a ui-sref="app.cadastrarCliente" class="btn btn-md btn-blue">
					<i class="fa fa-user-plus"></i>&nbsp;Novo Paciente
				</a>
			
			</div>
		
		</div>

	</div>
	
	<div class="row" style="margin-top:10px;">
		
		<div class="col-lg-12 col-sm-12 col-xs-12">
		
			<table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" dt-instance="vm.dtInstance" class="table table-bordered table-hover table-striped table-condensed">		
			</table>
			
		</div>
		
	</div>
	
</widget>


