﻿<widget name="{{vm.crud.nmFunc}}">

	<div class="row row-top-pagina">				

		<div class="col-lg-3 col-sm-12 col-xs-12" style="margin-top:0px;padding-right:26px;">
			
			<!-- Menu de Cadastro Base -->
			<menucadastrobase />

		</div>
				
		<div class="col-lg-9 col-sm-12 col-xs-12" style="padding-right:15px;padding-left:0px;margin-top:0px;">

			<div class="row" style="margin-top:0px;" ng-if="!vm.isExibeCadastrar || !vm.isExibeAlterar">				

				<div class="col-lg-12 col-sm-12 col-xs-12">
					
					<div align="right">
						
						<a ng-click="vm.isExibeCadastrar=!vm.isExibeCadastrar" class="btn btn-xs btn-blue">
							<i class="fa fa-plus"></i>&nbsp;Cadastrar&nbsp;{{vm.crud.btTxt}}
						</a>
					
					</div>
				
				</div>

			</div>
			
			<div ng-if="vm.isExibeCadastrar || vm.isExibeAlterar">
			
				<div class="row row-form-titulo">
							
					<div class="col-lg-12 col-sm-12 col-xs-12"> 
						<div class="form-title form-titulo" style="padding-top: 0px;" ng-if="vm.isExibeCadastrar">
							<i class="fa fa-pencil fa-lg"></i>&nbsp;Cadastrar&nbsp;{{vm.crud.btTxt}}
						</div>
						<div class="form-title form-titulo" style="padding-top: 0px;" ng-if="vm.isExibeAlterar">
							<i class="fa fa-pencil fa-lg"></i>&nbsp;Alterar&nbsp;{{vm.crud.btTxt}}
						</div>
					</div>	
					
				</div>
				
				<!--------- Formulario ----------->
				<div id="formulario">

					<form name="cadastroBaseForm" role="form">
				
						<div class="row">		 

							<div class="col-lg-6 col-sm-12 col-xs-12">

								<div class="form-group">
									<label for="nmOpe">Nome da Operadora</label>
									<input name="nmOpe" ng-model="vm.objeto.nmOpe" type="text" class="form-control" ng-minlength="3" ng-maxlength="60" required >
								</div>
								
							</div>

						</div>
					
					</form>
					
				</div>
				<!--------- /Formulario ----------->
				
				
				<div class="row" style="margin-bottom:20px;">	

					<div class="col-xs-12 col-md-12">
						
						<div align="center">

							<button ng-click="vm.cancelar()" class="btn btn-md btn-default btn-xs"><i class="fa fa-times"></i>&nbsp;Cancelar</button>
							
							<button ng-click="vm.inserir()" ng-if="vm.isExibeCadastrar" data-ng-disabled="cadastroBaseForm.$invalid" class="btn btn-success btn-xs" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Cadastrar</button>
							
							<button ng-click="vm.alterar()" ng-if="vm.isExibeAlterar"   data-ng-disabled="((cadastroBaseForm.$invalid) || (cadastroBaseForm.$pristine))"  class="btn btn-blue btn-xs" ng-autodisable ><i class="fa fa-save"></i>&nbsp;Alterar</button>
							
						</div>
						
					</div>
								
				</div>
			
			</div>

				
			<div class="row" style="margin-top:10px;" ng-if="vm.lista.length != null && vm.lista.length > 0">			
								
				<div class="col-lg-12 col-sm-12 col-xs-12">

					<table class="table table-striped table-condensed table-bordered m-b-none text-medium">
						
						<tr style="background-color:rgba(232, 232, 232, 0.69);font-weight:bold;color:#636363">
							
							<td width="90%">Nome da Operadora</td>
							<td width="10%">&nbsp;</td>	
							
						</tr>
						
						<!--------- ngRepeat ----------->
						<tr ng-repeat="obj in vm.lista.slice(((vm.currentPage-1)*vm.itemsPerPage), ((vm.currentPage)*vm.itemsPerPage))">

							<td align="left" style="padding-top:8px;color:#636363">{{obj.nmOpe}}&nbsp;&nbsp;<span ng-if="obj.isNew" class="badge">novo</span></td>
							<td align="center">
								<button type="button" class="btn btn-danger btn-xs" ng-click="vm.remover(obj.id)"><span class="glyphicon glyphicon-trash"></span></button>
								<button type="button" class="btn btn-warning btn-xs" ng-click="vm.exibirAlterar(obj.id)"><span class="glyphicon glyphicon-pencil"></span></button>
							</td>
							
						</tr>
						<!---------/ngRepeat ----------->

						<tr style="background-color:rgba(232, 232, 232, 0.69);height:30px;font-weight:bold">
							<td colspan="3" align="center"></td>
						</tr>

					</table>

				</div>
		
			</div>
	
			<div ng-if="(vm.lista.length == null || vm.lista.length == 0)">
				
				<table class="table table-striped table-condensed table-bordered m-b-none text-medium" style="margin-top:20px;">
					
					<tr>
							
						<td colspan="3" align="center">Sem registros cadastrados.<BR>
							<a ng-click="vm.isExibeCadastrar=true">
								Clique e cadastre a sua primeira operadora de saúde
							</a>
						</td>
						
					</tr>
					
				</table>
				
			</div>
			
			<!-- Paginação -->
			<div class="row" ng-if="vm.lista.length != null && vm.lista.length > 0">
								
				<div class="col-lg-12 col-sm-12 col-xs-12" align="center">
					<uib-pagination ng-model="vm.currentPage" items-per-page="vm.itemsPerPage" total-items="vm.lista.length" ng-change="pageChanged()" first-text="Primeiro" last-text="Último" next-text="Próximo" previous-text="Anterior"></uib-pagination>
				</div>
				
			</div>

		</div>

	</div>
	
</widget>