﻿<div class="panel panel-default">
	
	<div class="panel-heading"><i class="fa fa-picture-o"></i> Editar Foto<button ng-click="vm.cancelar()" type="button" class="close" ><span>&times;</span></button></div>
	
	<div class="panel-body">
		
		<div class="row">

			<div class="col-lg-8 col-sm-8 col-xs-8">

				<div>
					<input type="file" img-cropper-fileread image="vm.cropper.sourceImage" />
					<div>
						<canvas width="500" height="270" id="canvas" image-cropper image="vm.cropper.sourceImage" cropped-image="vm.cropper.croppedImage" crop-width="200" crop-height="220" keep-aspect="true" touch-radius="30" crop-area-bounds="vm.bounds"></canvas>
					</div>

				</div>

			</div>
			
			<div class="col-lg-4 col-sm-4 col-xs-4">
				
				<div style="margin-top:20px;">
					<div><label>Como a foto irá aparecer:</label></div>
					<div  class="dropzone" >
						
						<div ng-show="vm.cropper.croppedImage!=null"><img ng-src="{{vm.cropper.croppedImage}}" /></div>
						
					</div>
				</div>

			</div>
			
		</div>


	</div>
	
	<div class="panel-footer">
	
		<div align="center">
		
			<button ng-click="vm.cancelar()" ng-autodisable  class="btn btn-default btn-md" ><i class="fa fa-times"></i>&nbsp;cancelar</button>
			<button ng-click="vm.inserir()"  ng-autodisable  class="btn btn-primary btn-md" ><span class="glyphicon glyphicon-trash"></span>&nbsp;Salvar</button>
		
		</div>
		
	</div>
	
</div>