﻿<div class="panel panel-default">
							
	<div class="panel-heading">
		<i class="fa fa-calendar"></i> &nbsp;Período Selecionado<button align="right" ng-click="inserir()" class="btn btn-default btn-xs" style="font-size:11px;position:relative;right:-69px">Próximos horários</button>
	</div>
	
	<div class="panel-body" style="padding:7px;background-color:rgba(245, 245, 245, 0.28)">

		<div class="row" style="margin-top:0px;">								
			
			<div class="col-lg-12 col-sm-12 col-xs-12">
				
				<div class="row" style="margin-top:0px;">								
					
					<div class="col-lg-12 col-sm-12 col-xs-12">
						
						<div width="80%" style="color:rgba(255, 0, 0, 0.61);font-size:12px;border:1px solid rgba(224, 224, 224, 0.28);background-color:rgba(245, 245, 245, 0.59)">

							<p style="margin-bottom: 5px;"><i class="fa fa-times"></i> Duração do serviço ultrapassa o período escolhido.</p>
							<p style="margin-bottom: 5px;"><i class="fa fa-times"></i> Já existe um agendamento durante o período escolhido.</p>
							
						</div>
						
					</div>
				
				</div>	
		
				<div class="row" align="center" style="margin-top:10px;">								
					
					<div class="col-lg-12 col-sm-12 col-xs-12">
						
						<p class="input-group">
						  <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" style="font-weight:bold;border-color:#CCCCCC;color:black" />
						  <span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						  </span>
						</p>
				
					</div>											
				</div>
			
				<div class="row">								
					
					<div class="col-lg-6 col-sm-6 col-xs-6">
						<label for="exampleInputEmail1" style="font-weight:bold;color:rgba(38, 38, 38, 0.75);font-size:11px;">Hora Inicio</label>	
						<p class="input-group">
							<input type="text" class="form-control" ng-model="vm.dataInicio" is-open="open.dataInicio" datetime-picker="HH:mm"  enable-date="false" timepicker-options="timeOptions" readonly="true" style="font-weight:bold;border-color:#CCCCCC;color:rgba(0, 0, 0, 0.66);font-size: 18px;text-align" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataInicio')"><i class="fa fa-clock-o"></i></button>
							</span>
						</p>

					</div>	
					
					<div class="col-lg-6 col-sm-6 col-xs-6">
					
						<label for="exampleInputEmail1" style="font-weight:bold;color:rgba(38, 38, 38, 0.75);font-size:11px;">Hora Fim</label>
						<p class="input-group">
							<input type="text" class="form-control" ng-model="vm.dataFim" is-open="open.dataFim" datetime-picker="HH:mm" enable-date="false"  timepicker-options="timeOptions" readonly="true" readonly="true" style="font-weight:bold;border-color:#CCCCCC;color:rgba(0, 0, 0, 0.66);font-size: 18px;" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'dataFim')"><i class="fa fa-clock-o"></i></button>
							</span>
						</p>
						
					</div>	
					
				</div>
				
			</div>
			
		</div>
	
	</div>
	
</div>