﻿<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="dashboard.home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></i> Home</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.atividade"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Agenda</a> 
            </li>
			<li ui-sref-active="active">
                <a ui-sref="app.cliente"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Pacientes</a>
            </li>
			
			<li ng-class="{active: collapseVar==1}">{{dropDown}}
                
				<a href="" ng-click="check(1)"><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Serviços & Produtos<span class="fa arrow"></span></a>
                
				<ul class="nav nav-second-level" collapse="collapseVar!=1">
                    
					<li ui-sref-active="active">
                        <a ui-sref="app.servico"> Serviços</a>
                    </li>
					
					<li ui-sref-active="active">
                        <a ui-sref="app.produto"> Produtos</a>
                    </li>
                    
                </ul>
				
            </li>
			
			<li ng-class="{active: collapseVar==2}">{{dropDown}}
						
				<a href="" ng-click="check(2)"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Cadastros<span class="fa arrow"></span></a>
				
				<ul class="nav nav-second-level" collapse="collapseVar!=2">
					
					<li ui-sref-active="active">
						<a ui-sref="app.cadastrobaseespecialidade"> Especialidades</a>
					</li>
					
					<li ui-sref-active="active">
						<a ui-sref="app.produto"> Produtos</a>
					</li>
					
				</ul>
				
			</li>
					
            <li ng-class="{active: collapseVar==3}">{{dropDown}}
                <a href="" ng-click="check(3)"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Configuração<span   
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
 
					<li ui-sref-active="active">
                        <a ui-sref="app.profissional">Profissionais</a>
                    </li>
                    
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
		
		
		<div style="margin-left:1px;margin-top:0px;border-top-width:0px;"><calendar selected="day"></calendar></div>
		
		
		{{day}}
		
		
    </div>
    <!-- /.sidebar-collapse -->
</div> 